<!-- templates/registration/password_reset_confirm.html -->
{% extends 'cms/base.html' %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block head %}
    <style>
        .invalid-feedback {
            display: block;
        }
    </style>
{% endblock %}

{% block title %}Enter new password{% endblock %}

{% block body %}

        <div class=" row">
            <div class=" col-sm-12">
                <h1>{% trans 'Password change' %}</h1>
                <hr>
                <p>
                <form {% if form.errors %}
                        class="was-validated" {% endif %}
                      action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}

                    <hr>
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Submit' %}
                        </button>
                </form>
            </div>
        </div>

{% endblock %}
