{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load recurse %}
{% load get_type %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'payment_utils.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'dist/js/jquery.validate.js' %}"></script>
    <script
            src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js"
            type="text/javascript"></script>
    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content col-md-12">
            <div class="order-step col-md-12 col-lg-12 col-xs-12">

                <div class="col-md-4 col-lg-4 col-xs-4 left-step-normal">
                    <div style="margin: auto;align-content: center;text-align:
                                    center;border: 1px solid #efefef;background-color:#fafafa;
                                    padding: 10px">
                        <h4>{% trans "Checkout" %}</h4>
                        <i class="fa fa-pencil-square-o fa-3x"></i>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-4 left-step-last ">
                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#fafafa;
                padding: 10px">
                        <h4>{% trans "Overview" %}</h4>
                        <i class="fa fa-check-square fa-3x"></i>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4 col-xs-4 left-step">
                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#54c5b4;
                padding: 10px">
                        <h4>{% trans "payment" %}</h4>
                        <i class="fa fa-credit-card fa-3x"></i>
                    </div>

                </div>
            </div>

            <div  class="col-md-12 payment">
                <h3>{% trans 'payment' %}</h3>
                <div class="col-md-12">


                    <form id="payment-form" class="form-horizontal"
                          action="/payment/create/{{ order_details.order_hash }}">
                        {% csrf_token %}
                        <div id="method">
                            <p>
                                {% trans 'Please choose a payment method' %}
                            </p>
                        </div>
                        <div  class="panel-group" id="accordion">

                            {% for payment_method in payment_methods %}
                                <div class="panel">
                                    <div  class="panel-heading">
                                        <div class="input-group">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse{{ forloop.counter }}">
                                                    <label><input id="input{{ forloop.counter }}" type="radio"
                                                                  name="method"
                                                                  value="{{ payment_method.id }}"> <i
                                                            class="fa fa-{{ payment_method.name|lower }}"></i>
                                                        {{ payment_method.name }}</label>
                                                </a>
                                            </h4></div>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ payment_method.details }}<p></p>
                                            {% for field in payment_method.form %}

                                                <div id="{{ field.html_name }}" class="form-group">
                                                    <label class="control-label col-sm-2">{{ field.label }}
                                                    </label>
                                                    <div class="col-sm-10">
                                                        {{ field|addcss:'form-control' }}
                                                        <p class="error" style="color: #FF4136"></p>
                                                    </div>
                                                    <div class="col-sm-12">

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%"></th>
                    <th style="width:10%"></th>

                    <th style="width:22%" class="text-center">{% trans 'Total' %}</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong>Total 1.99</strong></td>
                </tr>
                <tr>
                    <td>
                        <form action="{% url 'overview_order' order_details.order_hash %}" method="post">
                            {% csrf_token %}
                            <input hidden name="token" value="{{ order_details.token }}"/>
                            <a onclick="$(this).parent().submit()" class="btn btn-warning"><i
                            class="fa fa-angle-left"></i> {% trans 'Back to overview' %}</a>
                        </form>
                    </td>
                    <td colspan="1" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>
                        <span style="font-size: larger;font-family: Arial" id="total">{{ total_order }} &euro;</span>
                    </strong></td>
                    <td><a onclick="submitForm('create/','payment-form')"
                           class="btn btn-success btn-block">{% trans 'Send' %} <i
                            class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
            <form id="next-step-form" action="confirm/" method="post">
                    {% csrf_token %}

                    <input id="next-step-token" type="hidden" name="token" value="{{ order_details.order_hash }}">
                </form>
        </div>

    </div>

{% endblock %}