{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load recurse %}
{% load get_type %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'payment_utils.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="order-step row">

                <div class="col-4 left-step-normal">
                    <div style="margin: auto;align-content: center;text-align:
                                    center;border: 1px solid #efefef;background-color:#fafafa;
                                    padding: 10px">
                        <h4>{% trans 'Checkout' %}</h4>
                        <i class="fa fa-edit fa-3x"></i>
                    </div>
                </div>
                <div class="col-4 left-step-last">

                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#fafafa;
                padding: 10px">
                        <h4>{% trans "Overview" %}</h4>
                        <i class="far fa-check-square fa-3x"></i>
                    </div>
                </div>
                <div class="col-4 left-step">
                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#54c5b4;
                padding: 10px">
                        <h4>{% trans "Payment" %}</h4>
                        <i class="fas fa-credit-card fa-3x"></i>
                    </div>

                </div>
            </div>

            <div class="row payment">
                <h3>{% trans 'Payment' %}</h3>
                <div class="col-md-12">
                    <form id="payment-form" class="form-horizontal"
                          action="/payment/create/{{ order_details.order_hash }}">
                        {% csrf_token %}
                        <div id="method">
                            <p>
                                {% trans 'Please choose a payment method' %}
                            </p>
                        </div>

                        <div class="accordion" id="paymentFormInput">
                            {% for payment_method in payment_methods %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ payment_method.name }}">
                                        <h2 class="mb-0">
                                            <input id="input{{ payment_method.name }}" type="radio"
                                                   name="method" data-toggle="collapse"
                                                   data-target="#body{{ payment_method.name }}"
                                                   aria-expanded="false" aria-controls="#body{{ payment_method.name }}"
                                                   value="{{ payment_method.id }}">
                                            <label for="input{{ payment_method.name }}"
                                                   data-toggle="collapse" data-target="#body{{ payment_method.name }}"
                                            >
                                                <i class="fa fa-{{ payment_method.name|lower }}"></i>
                                                {{ payment_method.name }}</label>
                                        </h2>
                                    </div>

                                    <div id="body{{ payment_method.name }}" class="collapsed collapse"
                                         aria-labelledby="heading{{ payment_method.name }}"
                                         data-parent="#paymentFormInput">
                                        <div class="card-body">
                                            {{ payment_method.details }}<p></p>
                                            {% for field in payment_method.form %}

                                                <div id="{{ field.html_name }}" class="form-group">
                                                    <label class="control-label col-sm-2">{{ field.label }}
                                                    </label>
                                                    <div class="col-sm-10">
                                                        {{ field|addcss:'form-control' }}
                                                        <p class="error" style="color: #FF4136"></p>
                                                    </div>
                                                    <div class="col-sm-12">

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width:50%"></th>
                    <th style="width:10%"></th>

                    <th style="width:22%" class="text-center">{% trans 'Total' %}</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="visible-xs">
                </tr>
                <tr>
                    <td colspan="1" class="hidden-xs"></td>
                    <td colspan="1" class="hidden-xs"></td>

                    <td class="hidden-xs text-center"><strong>
                        <span style="font-size: larger;font-family: Arial" id="total">{{ total_order }} &euro;</span>
                    </strong></td>
                    <td colspan="1" class="hidden-xs"></td>

                </tr>
                <tr>
                    <td>
                        <form action="{% url 'overview_order' order_details.order_hash %}" method="post">
                            {% csrf_token %}
                            <input hidden name="token" value="{{ order_details.token }}"/>
                            <a onclick="$(this).parent().submit()" class="btn btn-warning"><i
                                    class="fa fa-angle-left"></i> {% trans 'Back to overview' %}</a>
                        </form>
                    </td>
                    <td colspan="1" class="hidden-xs"></td>
                    <td colspan="1" class="hidden-xs"></td>


                    <td><a onclick="submitForm('create/','payment-form')"
                           class="btn btn-success btn-block">{% trans 'Send' %} <i
                            class="fa fa-angle-right"></i></a></td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <form id="next-step-form" action="confirm/" method="post">
                {% csrf_token %}

                <input id="next-step-token" type="hidden" name="token" value="{{ order_details.order_hash }}">
            </form>
        </div>

    </div>

{% endblock %}