{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load recurse %}
{% load get_type %}
{% load bootstrap4 %}
{% block head %}
    <script src="{% static 'payment_utils.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'jquery/js/jquery.validate.min.js' %}"></script>

    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <div class="payment-step row">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <a href="{% url 'shop:shopping_cart' %}" type="button"
                               class="btn btn-outline-success btn-circle"><i
                                    class="fa fa-shopping-cart"></i></a>
                            <p><small>{% trans 'Shoppingcart' %}</small></p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="/shop/delivery/{{ order_details.order_hash }}" type="button"
                               class="btn btn-outline-success btn-circle"><i
                                    class="fas fa-truck"></i></a>
                            <p><small>{% trans "Delivery" %}</small></p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="" type="button" class="btn btn-success btn-circle"><i
                                    class="fas fa-credit-card"></i></a>
                            <p><small>{% trans "Payment" %}</small></p>
                        </div>
                        <div class="stepwizard-step">
                            <a onclick="submitForm('create/','payment-form')" type="button"
                               class="btn btn-outline-success btn-circle"><i
                                    class="fas fa-check-square "></i></a>
                            <p><small>{% trans "Overview" %}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row payment">

                <div class="col-12">
                    <h4>{% trans 'Payment' %}</h4>
                    <form id="payment-form" class="form-horizontal" method="get"
                          action="/payment/create/{{ order_details.order_hash }}">
                        {% csrf_token %}
                        <div id="method">
                            <p>
                                {% trans 'Please choose a payment method' %}
                            </p>
                        </div>

                        <div class="accordion" id="paymentFormInput">
                            {% for payment_method in payment_methods %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ payment_method.name }}">
                                        <h2 class="mb-0">
                                            <input id="input{{ payment_method.name }}" type="radio"
                                                   name="method" data-bs-toggle="collapse"
                                                   data-bs-target="#body{{ payment_method.name }}"
                                                   aria-expanded="false" aria-controls="#body{{ payment_method.name }}"
                                                   value="{{ payment_method.id }}">
                                            <label class="ps-2" for="input{{ payment_method.name }}"
                                                   data-bs-toggle="collapse"
                                                   data-bs-target="#body{{ payment_method.name }}"
                                            >
                                                {% if payment_method.name == 'Bill' %}
                                                    <i class="fas fa-file-invoice"></i> {% trans 'Invoice' %}
                                                {% elif payment_method.name == 'Prepayment' %}
                                                    <i class="fas fa-money-check-alt"></i> {% trans 'Prepayment' %}
                                                {% else %}
                                                    <i class="fab fa-cc-{{ payment_method.name|lower }}"></i>
                                                    {{ payment_method.name }}
                                                {% endif %}</label>
                                        </h2>
                                    </div>

                                    <div id="body{{ payment_method.name }}" class="collapsed collapse"
                                         aria-labelledby="heading{{ payment_method.name }}"
                                         data-parent="#paymentFormInput">
                                        <div class="card-body">
                                            {{ payment_method.details }}<p></p>
                                            {#                                            {% bootstrap_form payment_method.form %}#}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="p-4 col-12">

                                {% bootstrap_form legal_form %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mb-2 justify-content-end">
            <div class="col">
                <a onclick="submitForm('create/','payment-form')"
                   class="btn btn-success float-end">{% trans 'Continue' %} <i
                        class="fa fa-angle-right"></i></a>
            </div>
        </div>


        <form id="next-step-form" action="confirm/" method="post">
            {% csrf_token %}

            <input id="next-step-token" type="hidden" name="token" value="{{ order_details.order_hash }}">
        </form>
    </div>

    </div>

{% endblock %}
{% block renderblocking %}

    <link href="{% static 'fontawesome-free/css/brands.min.css' %}" rel="stylesheet">
    <script defer src="{% static 'fontawesome-free/js/brands.min.js' %}"></script>
{% endblock %}