.panel-heading {
    color: white;
    background-color: #265a88;
    border: 1px solid #eeeeee;
    font-weight: bold;
}

/*.navbar {*/
/*    background-color: #265a88;*/
/*    background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);*/
/*}*/

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

/*.panel-body {*/
/*    padding-top: 1rem;*/
/*    background-color: #e3ebf1;*/
/*}*/

.padding-1rem {
    padding: 1rem;
}

.uppercase-text {
    text-transform: uppercase;
}
