.panel-heading {
    color: white;
    background-color: #265a88;
    border: 1px solid #eeeeee;
    font-weight: bold;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}


.padding-1rem {
    padding: 1rem;
}

.uppercase-text {
    text-transform: uppercase;
}
