{% extends 'base-mgmt.html' %}
{% load static %}
{% load recurse %}
{% load bootstrap4 %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <div class="col-md-12">
                <a href="{% url 'address_create' %}" class="btn btn-outline-dark">{% trans 'Add' %}</a>
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>

                <br>
                <table class="table table-hover table-striped table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Street' %}</th>
                        <th scope="col">{% trans 'Number' %}</th>
                        <th scope="col">{% trans 'Zipcode' %}</th>
                        <th scope="col">{% trans 'City' %}</th>
                        <th scope="col">{% trans 'Contact' %}</th>
                        <th scope="col">{% trans 'Configuration' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in address %}
                        <tr>
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.street }}</td>
                            <td>{{ entry.number }}</td>
                            <td>{{ entry.zipcode }}</td>
                            <td>{{ entry.city }}</td>
                            <td>{{ entry.contact }}</td>
                            <td class="">
                                <div>
                                    <a class="btn btn-outline-dark"
                                       href="{% url 'address_edit' entry.id %}">{% trans 'Edit' %}</a>
                                    <button class="btn btn-outline-dark" data-toggle="modal"
                                            data-target="#delete-modal">{% trans 'Delete' %}</button>
                                    {% include 'delete-modal.html' with id=entry.id url='address_delete' url_param='address_id' %}

                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}