{% extends 'base.html' %}
{% load staticfiles %}
{% load recurse %}
{% load get_type %}
{% load i18n %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="col-md-12">
                <div class="col-md-3 hidden-xs">
                    <h4 class="h-bold">{% trans "Your account" %}</h4>
                    <div class="panel">
                        <div style="overflow: auto" class="panel-heading">
                            <div class="col-md-12"><span>{{ contact.first_name }} {{ contact.last_name }}</span></div>
                            <div class="col-md-12"><span
                                    style="font-size: small; font-weight: bold">{{ contact.company.name }}</span></div>
                        </div>
                        <div class="panel-body">
                            <p>{% trans 'Your logo' %}</p>
                            {% if contact.company.logo %}
                                <img class="img-responsive" src="/media/{{ contact.company.logo.url }}">
                            {% endif %}
                        <p></p>
                            <a href="{{ request.META.HTTP_REFERER }}"
                               class="btn btn-fw btn-secondary">{% trans 'Go back' %}</a>
                            <a href="{% url 'all_orders' %}"
                               class="btn btn-fw btn-warning">{% trans 'All orders' %}</a>
                            <a href="{% url 'my_account' %}"
                               class="btn btn-fw btn-warning">{% trans 'Go to your account' %}</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h4 class="h-bold">{% trans "Company settings" %}</h4>
                    <div class="panel-group">

                        <div class="panel">
                            <div style="overflow: auto" class="panel-heading orders-overview">

                                <div class="col-md-9" style="text-align: left; ">
                                    <p><b>{% trans 'Company details' %}</b></p>
                                </div>
                                <div class="col-md-3" style="text-align: right">
                                    <a onclick="$('#company-settings-form').submit()"
                                       class="btn btn-warning">{% trans 'Save' %}</a>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <p>{% trans 'Edit your company details' %}</p>

                                    <form method="post" id="company-settings-form" action="{% url 'company_settings' %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}

                                        {% for field in form %}

                                            <div id="{{ field.html_name }}" class="form-group">
                                                <label class="control-label col-sm-2">{{ field.label }}
                                                </label>
                                                <div class="col-sm-10">
                                                    {{ field|addcss:'form-control' }}
                                                    <p class="error" style="color: #FF4136"></p>
                                                </div>
                                                <div class="col-sm-12">

                                                </div>
                                            </div>
                                        {% endfor %}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}