{% extends 'base.html' %}
{% load static %}
{% load recurse %}

{% load i18n %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="col-md-12">


                <h4><b>{% trans "Your account" %}</b></h4>

                <div class="panel-group">

                    <div class="panel">
                        <div style="overflow: auto" class="panel-heading orders-overview">

                            <div class="col-md-12" style="text-align: left; ">
                                <p><b>{% trans 'Your orders' %}</b></p>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-4">

                                    <img class="img-responsive" src="{% static 'images/package.png' %}">
                                </div>
                                <div class="col-md-4">
                                    <p>{% trans 'Show orders, track or cancel them' %}</p>
                                    <a href="{% url 'all_orders' %}" class="btn btn-fw btn-warning">{% trans 'Your orders' %}</a>
                                </div>
                                <div class="col-md-4">
                                    <p>{% trans 'Search your orders' %}</p>
                                    <form action="{% url 'search_orders' %}">
                                        <div class="input-group">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-warning" type="button">Go!</button>
                                                  </span>
                                            <input id="order-search" type="text" class="form-control" placeholder="Search for...">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div style="overflow: auto" class="panel-heading orders-overview">

                            <div class="col-md-12" style="text-align: left; ">
                                <p><b>{% trans 'payment settings' %}</b></p>
                            </div>
                        </div>


                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-4">

                                    <img class="img-responsive" src="{% static 'images/money.png' %}">
                                </div>
                                <div class="col-md-4">
                                    <p>{% trans 'Show or edit your payment methods' %}</p>
                                    <a href="{% url 'all_orders' %}" class="btn btn-fw btn-warning">{% trans 'Your payment methods' %}</a>

                                    <a href="{% url 'all_orders' %}" class="btn btn-fw btn-warning">{% trans 'Add a payment method' %}</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div style="overflow: auto" class="panel-heading orders-overview">

                            <div class="col-md-12" style="text-align: left; ">
                                <p><b>{% trans 'Settings' %}</b></p>
                            </div>
                        </div>


                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-4">

                                    <img class="img-responsive" src="{% static 'images/customer-service.png' %}">
                                </div>
                                <div class="col-md-4">
                                    <p>{% trans 'Show or edit your payment methods' %}</p>
                                    <a href="{% url 'account_settings' %}" class="btn btn-fw btn-warning">{% trans 'Change account settings' %}</a>

                                    <a href="{% url 'all_orders' %}" class="btn btn-fw btn-warning">{% trans 'Change personal settings' %}</a>
                                     <a href="{% url 'company_settings' %}" class="btn btn-fw btn-warning">{% trans 'Change company settings' %}</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

</script>
{% endblock %}