{% extends 'base.html' %}
{% load static %}
{% load recurse %}
{% load fb_versions %}
{% load bootstrap4 %}

{% load i18n %}
{% block head %}
    <script src="{% static 'onchange.js' %}"></script>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.min.js' %}"></script>

    <title>Admin - All orders </title>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <form action="" method="get">

                        {% bootstrap_form filter.form %}
                        <button class="btn btn-fw btn-primary" type="submit">{% trans 'Go' %}</button>

                    </form>
                    <a href="{% url 'shop:my_account' %}"
                       class="btn btn-fw btn-warning">{% trans 'Go to your account' %}</a>

                </div>

            </div>
        </div>
        <div class="col-12 col-md-9 mt-2 mt-md-0">
            {% if object_list.count == 0 %}
                <div class="card">
                    <div style="overflow: auto" class="card-header orders-overview">
                        <div style="overflow: auto" class="row">
                            {% trans 'Nothing found' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for order_detail in object_list %}
                <div class="card mb-4">
                    <div style="overflow: auto;background-color: #ececec" class="card-header orders-overview">
                        <div style="overflow: auto" class="row">
                            <div class="col-md-3 col-12" style="text-align: left; ">
                                <strong> {% trans 'Orderdate' %}</strong>
                                <br>
                                    {{ order_detail.date_added }}
                            </div>
                            <div class="col-md-2 col-12" style="text-align: left; ">
                                <strong> {% trans 'State' %}</strong>
                                <br>
                                    {{ order_detail.state.name }}
                            </div>
                            <div class="col-md-2 col-12" style="text-align: left; ">
                                <strong> {% trans 'Total' %}</strong>
                                <br>
                                {{ order_detail.total_wt|floatformat:2 }} €
                            </div>
                            <div class="col-md-5 col-12" style="text-align: left; ">
                                <strong> Ordernr.:
                                    <small>{{ order_detail.unique_nr }}</small></strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12" style="text-align: left; ">
                                <a class="btn btn-outline-secondary mr-2"
                                   href="{% url 'shop:detail_order' order_detail.order.order_hash %}">{% trans 'Orderdetails' %}</a>

                                <button class="btn btn-outline-secondary mr-2" disabled
                                        {% if not order_detail.bill_sent %}disabled{% endif %}
                                        target="_blank" href="{% url 'invoice_pdf' order_detail.order.order_hash %}"
                                >{% trans 'Bill' %}</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <h4>{% trans 'Customer Information' %}</h4>
                                <div>
                                    <b>{{ order_detail.order.company }}</b>
                                </div>
                                    <div>
                                        {{ order_detail.contact.first_name }} {{ order_detail.contact.last_name }}
                                    </div>
                                    <div>
                                        {{ order_detail.order.company.street }} {{ order_detail.order.company.number }}
                                    </div>
                                    <div>
                                        {{ order_detail.order.company.zipcode }} {{ order_detail.order.company.city }}
                                    </div>
                                    <div style="margin-top: 5px">
                                        {{ order_detail.contact.telephone }}
                                    </div>
                                    <div>
                                        {{ order_detail.contact.email }}
                                    </div>

                            </div>
                            <div class="col-6">

                                <h4>{% trans 'State' %}</h4>

                                    <div>
                                        Status: <span
                                            style="color: #2c7b91"><b>{{ order_detail.state }}</b></span>
                                    </div>
                                    <div>
                                        {% trans 'Tracking' %}: <span
                                            style="color: #2c7b91">
                                        {% for shipment in order_detail.shipment_set.all %}
                                            {% if shipment.packageshipment %}
                                                <div>#{{ forloop.counter }} {% trans 'Package: ' %}<b>{{ shipment.packageshipment.package.tracking_code  }}</b></div>
                                            {% else %}
                                                <div>#{{ forloop.counter }} {% trans 'Online' %}</div>
                                            {% endif %}
                                            {% empty %}
                                            -
                                        {% endfor %}
                                    </span>
                                    </div>


                            </div>

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                <h4>{% trans 'Order' %}</h4>
                                <div style="margin-left: 15px; background-color: white">
                                    {% for order_item in order_detail.order.orderitem_set.all %}
                                        <div class="row">
                                            <div class="col-sm-3 col-4">
                                                {% if  order_item.product.product.product_picture %}
                                                    <img
                                                            style="max-width: 70px"
                                                            src="{% version order_item.product.product.product_picture 'medium' %}"
                                                            class="card-img-top img-thumbnail"/>
                                                {% else %}
                                                    <i class="fa fa-4x fa-image img-thumbnail"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-7 col-4">
                                                <div class="no-margin">
                                                    <strong>{{ order_item.product.name }}</strong></div>
                                            </div>
                                            <div class="col-4">
                                                <span>{{ order_item.price_wt | floatformat:2 }}&euro;</span>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}
            <div class="pt-3 pagination text-xs-center justify-content-center"
                 style="align-content: center; text-align: center">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>

        </div>
    </div>

{% endblock %}
