{% extends 'base.html' %}
{% load static %}
{% load recurse %}

{% load i18n %}
{% block head %}
    <script src="{% static 'onchange.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <title>Products</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-3">

            <div class="card">
                <div class="card-header">
                    <h4><strong>{% trans "Menu" %}</strong></h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <a href="{% url 'shop:all_orders' %}"
                           class="btn btn-fw btn-warning">{% trans 'All orders' %}</a>
                        <a href="{% url 'shop:my_account' %}"
                           class="btn btn-fw btn-warning">{% trans 'Go to your account' %}</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-9 mb-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <strong>
                                {% trans 'Orderdate' %}
                            </strong>
                            <div>

                                {% for order_detail in order.orderdetail_set.all %}
                                    {{ order_detail.date_added }}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-2">
                            <strong>
                                {% trans 'State' %}
                            </strong>
                            <div>
                                {% for order_detail in order.orderdetail_set.all %}
                                    {{ order_detail.state.name }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <strong>{% trans 'Total' %}</strong>
                            <div>{{ order.orderdetail_set.first.total_discounted_wt|floatformat:2 }} €</div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <strong>Ordernr.:</strong>
                            <div><small>{{ order.orderdetail_set.first.unique_nr }}</small>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">

                        <div class="col-md-2">
                            <strong>
                                {% trans 'Payment' %}
                            </strong>
                            <div>
                                {% for payment in order.paymentdetail_set.all %}
                                    {% trans 'via ' %}{{ payment.method.name }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4"><strong>
                            {% trans 'Tracking' %}
                        </strong>
                            <div>
                                {% for order_detail in order.orderdetail_set.all %}
                                    {% for shipment in order_detail.shipment_set.all %}
                                        {% if shipment.packageshipment %}
                                            <div>#{{ forloop.counter }}
                                                {% trans 'Package: ' %}{{ shipment.packageshipment.package.tracking_code }}</div>
                                        {% else %}
                                            <div>#{{ forloop.counter }} {% trans 'Online' %}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <strong>
                            </strong>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body row">
                    <div class="col-lg-9 col-md-12 col-sm-12">

                        <table id="cart" class="table table-hover table-striped table-responsive-sm">
                            <thead>
                            <tr>
                                <th style="width:50%">{% trans 'Product' %}</th>
                                <th style="width:15%">{% trans 'Price' %}</th>

                                <th style="width:27%"
                                    class="text-center">{% trans 'Subtotal' %}</th>
                            </tr>
                            </thead>

                            <tbody>

                            <form id="order-form">
                                <input type="submit" hidden id="#submit">
                                {% for order in order_items %}
                                    <tr>
                                        <td style="width:50%" data-th="Product">
                                            <input type="hidden"
                                                   name="[{{ order.id }}][prod]{{ order.product.id }}">
                                            <div class="row">
                                                <div class="col-5 col-md-2">
                                                    {% if order.product.product.product_picture %}
                                                        <img
                                                                src="{{ order.product.product.product_picture.url }}"
                                                                alt="..."
                                                                class="img img-thumbnail img-fluid"/>
                                                    {% else %}
                                                        <i class="fa fa-4x fa-image img-thumbnail"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="col-7">
                                                    <h5 class="nomargin">{{ order.count }} x {{ order.product.name }}</h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:15%" data-th="Price">
                                            {{ order.price_wt | floatformat:2 }}&euro;
                                        </td>
                                        <td style="width:27%" id="subtotal-{{ order.id }}" data-th="Subtotal"
                                            class="text-center">
                                            {{ order.total_wt | floatformat:2 }}&euro;
                                            {% if order.applied_discount %}<br>
                                                <small class="mt-1">- {{ order.total_discount_wt }}&euro; ({{ order.order_detail.discount.voucher_id }}
                                                    {{ order.order_detail.discount.discount_percentage_in_percent }}%)</small>
                                                <br> <b>{{ order.total_discounted_wt | floatformat:2 }}&euro;</b>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% for sub_item in order.orderitem_set.all %}
                                        <tr id="{{ order.id }}-{{ sub_item.id }}"
                                            style="border-top: none">
                                            <td style="width:70%" colspan="1">
                                                <div class="col-sm-12 ">
                                                    <div class="col-md-offset-1 col-md-12 sub-product required">
                                                        <div class="col-md-offset-1 col-md-12">
                                                            <h5>
                                                                <i><b>{{ sub_item.product.name }}</b></i>
                                                            </h5>
                                                            <div class="col-md-12">
                                                                {% if sub_item.fileorderitem %}
                                                                    {% trans 'File' %}:
                                                                    <div class="col-md-7"><a
                                                                            href="{{ sub_item.fileorderitem.file.url }}">
                                                                        {{ sub_item.fileorderitem.file_name }}
                                                                    </a></div>
                                                                    <div class="col-md-8 hidden-xs">
                                                                        <img
                                                                                src="{{ sub_item.fileorderitem.file.url }}"
                                                                                alt="..."
                                                                                class="img img-thumbnail img-fluid"/>
                                                                    </div>
                                                                {% elif sub_item.selectorderitem %}
                                                                    {{ sub_item.selectorderitem.selected_item }}
                                                                {% elif sub_item.checkboxorderitem %}
                                                                    {% trans 'Yes' %}
                                                                {% elif sub_item.numberorderitem %}
                                                                    {{ sub_item.numberorderitem.number }}
                                                                {% endif %}
                                                                </p>
                                                                <p class="error"
                                                                   style="color: #FF4136"></p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2"
                                                data-th="Price">{{ sub_item.price_wt }} &euro;
                                            </td>
                                            <td colspan="3">
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                                {% for sub_item in order_items_once_only %}
                                    <tr style="border-top: none">
                                        <td style="width:70%" colspan="1">
                                            <div class="col-sm-12 ">
                                                <div class="col-md-12 required">
                                                    <div class="col-md-offset-1 col-md-9">
                                                        <h4>{{ sub_item.product.name }}</h4>


                                                        <div class="col-md-12">
                                                            {% if sub_item.fileorderitem %}
                                                                {% trans 'File' %}:
                                                                <a href="{{ sub_item.fileorderitem.file.url }}">
                                                                    {{ sub_item.fileorderitem.file_name }}
                                                                </a>
                                                                <div class="col-sm-2 hidden-xs"><img
                                                                        src="{{ sub_item.fileorderitem.file.url }}"
                                                                        alt="..."
                                                                        class="img-fluid"/>
                                                                </div>
                                                            {% elif sub_item.selectorderitem %}
                                                                {{ sub_item.selectorderitem.selected_item.name }}
                                                            {% elif sub_item.checkboxorderitem %}
                                                                {% trans 'Yes' %}
                                                            {% elif sub_item.numberorderitem %}
                                                                {{ sub_item.numberorderitem.number }}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </td>
                                        <td style="width:15%" data-th="Subtotal" colspan="2"
                                            class="text-center">{{ sub_item.product.price }} &euro;
                                        </td>
                                        <td style="width:15%" colspan="3">
                                            <script>
                                                $(document).ready(function () {
                                                    addToSubTotal(0, {{ sub_item.product.price }})
                                                });
                                            </script>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% csrf_token %}

                            </form>
                            </tbody>

                        </table>

                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <h5 class="h-bold">{% trans 'Options' %}</h5>
                        <form action="{% url 'shop:detail_order_cancel_order' order.order_hash %}" method="post">
                            {% csrf_token %}
                            <button type="submit" {% if not order_details.state.initial %}disabled{% endif %}
                                    class="btn btn-fw btn-secondary">{% trans 'Cancel order' %}</button>
                        </form>
                        <a href="{% url 'shop:detail_order_write_review' order.order_hash %}"
                           class="btn btn-fw btn-secondary">{% trans 'Write review' %}</a>
                        {% if order_details.bill_sent %}
                            <a class="btn btn-fw btn-secondary"
                               target="_blank" href="{% url 'invoice_pdf' order.order_hash %}"
                            >{% trans 'Bill' %}</a>
                        {% else %}
                            <button class="btn btn-fw btn-secondary" disabled
                            >{% trans 'Bill' %}</button> {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    <b>{% trans 'Shipments' %}</b>
                    <div class="pt-2">

                        <table id="cart" class="table table-hover table-striped table-responsive-sm">
                            <thead>
                            <tr>
                                <th style="width:5%">{% trans '#' %}</th>
                                <th style="width:7%">{% trans 'Type' %}</th>

                                <th style="width:22%"
                                    class="text-center">{% trans 'Date shipped' %}
                                </th>
                                <th style="width:40%">{% trans 'Details' %}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for order_detail in order.orderdetail_set.all %}
                                {% for shipment in order_detail.shipment_set.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{% if shipment.packageshipment %} {% trans 'Package' %}{% else %}
                                            {% trans 'Online' %}{% endif %}</td>
                                        <td>{{ shipment.date_shipped }}
                                            <small><b>{% trans 'Shipped products: ' %}</b></small><br>
                                            {% for shipped_product in shipment.order_items_shipped.all %}
                                                <p class="pl-3 pt-2">{{ shipped_product.product.name }}</p>
                                            {% empty %}
                                                <p class="pl-3 pt-2">
                                                    <small>{% trans 'No products associated with this shipment' %}</small>
                                                </p>
                                            {% endfor %}</td>
                                        <td>
                                            {% if shipment.packageshipment %}
                                                <p>
                                                    {% trans 'Shipper: ' %}{{ shipment.packageshipment.package.shipper.name }}</p>
                                                <p>
                                                    {% trans 'Tracking Code: ' %}{{ shipment.packageshipment.package.tracking_code }}</p>
                                            {% else %}
                                                {% trans 'File: ' %}
                                                <a href="{{ shipment.onlineshipment.file.url }}">{{ shipment.onlineshipment.file_name }}</a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>{% trans 'No shipments' %}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}