{% load static %}
{% load recurse %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block head %}
{% endblock %}
<div class="card mt-3 " style="background-color: transparent">
    <div class="pt-3 ps-3" data-bs-toggle="collapse" data-bs-target="#collapseShopping"
         aria-expanded="true" aria-controls="collapseShopping" style="cursor: pointer">
        <h4>
            <a>{% trans 'Shopping-Filters' %}</a>
        </h4>
    </div>

    {% include 'shop/products/products-component-attributesfilterdesktop.html'  with cssclass="no-bg" %}
    </div>
