{% load i18n %}

<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for product in product_list|slice:":50" %}
            <div class="swiper-slide">
                {% include 'shop/products/products-component-card.html' with product=product %}</div>
        {% empty %}
            <h5 class="ps-3 text-center w-100">{% trans 'Nothing found' %}</h5>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 2,
        spaceBetween: 30,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            // when window width is >= 320px
            320: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            // when window width is >= 480px
            480: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            // when window width is >= 640px
            640: {
                slidesPerView: 4,
                spaceBetween: 40
            }
        }
    });
</script>



