{% load static %}
{% load recurse %}
{% load i18n %}
{% load bootstrap5 %}
{% load fb_versions %}
<div class="card h-100 card-hover ">
    {% with product.category.path as category_path %}
        <a href="{% url 'shop:product_detail' category_path product.name %}">
            {% with product.productimage_set.all.0 as product_image %}
                {% if product_image %}
                    <img class="card-img-top" loading="lazy"
                         src="{% version product_image.product_picture 'medium' %}" alt=""/>
                {% else %}
                    <i style="max-width: 150px; height: 150px"
                       class="fa fa-5x fa-image card-img-top"></i>
                {% endif %}
            {% endwith %}
        </a>


        <div class="card-body product-text">
            <div class="d-flex justify-content-between">
                <a class="text-center font-weight-bold"
                   href="{% url 'shop:product_detail' category_path product.name %}">{{ product.name }}</a>
                {% if product.price_on_request %}
                    <span data-bs-toggle="modal" data-bs-target="#price_on_request"
                          class="badge rounded-pill bg-success bg-primary badge-price-on-request">{% trans 'Price on request' %}
                                                        </span>
                {% elif product.special_price %}
                    <span class="d-none d-sm-block"
                          style="text-decoration: line-through">{{ product.price_wt | floatformat:2 }} &euro;</span>
                    <strong style="color: red"
                            class="font-weight-bold">{{ product.special_price_wt | floatformat:2 }}
                        &euro;</strong>
                {% else %}
                    {{ product.price_wt | floatformat:2 }} &euro;
                {% endif %} </div>
            {% if product.special_price %}
                <span class="badge rounded-pill bg-danger bg-primary">{% trans 'Sale' %}
                                                        </span>
            {% endif %}
            {% if not product.price_on_request %}
                <small class="float-end">({% trans 'incl. Tax' %})</small>{% endif %}
        </div>

        {% if product.discount_set.count > 0 %}
            {% with product.discount_set.all.0 as voucher %}
                {% if voucher.show_in_products %}

                    <div class="card-body pb-1 ps-3">
                        <strong style="color: #da5200"
                                class="font-weight-bold">
                            <i class="fas fa-s fa-exclamation-circle"></i>
                            {% if voucher.percentagediscount %}
                                {% blocktranslate with percent=voucher.percentagediscount.discount_percentage_in_percent id=voucher.voucher_id %}
                                    Save up to {{ percent }} % with: {{ id }}{% endblocktranslate %}
                            {% else %}
                                {% blocktranslate with amount=voucher.fixedamountdiscount.amount id=voucher.voucher_id %}
                                    Save up to {{ amount }} € with: {{ id }}{% endblocktranslate %}
                            {% endif %}
                            &euro;</strong><br>

                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        <div class="card-body product-attributes">

            {% regroup product.attributes.all by type as attributes_grouped %}
            {% for attribute in attributes_grouped|slice:":3" %}
                <div class="d-flex align-items-center flex-row guarantee"><i
                        class="fas fa-check-circle"></i> <span
                        class="guarantee">{{ attribute.grouper.name }}:

                    {% for attribute_item in attribute.list %}
                        {{ attribute_item.value }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}</span></div>
            {% endfor %}

        </div>
        <hr>
        <div class="card-body">
            <div class="text-right buttons"><a href="{% url 'shop:product_detail' category_path product.name %}"
                                               class="btn btn-outline-dark">{% trans 'Details' %}</a>
                {% if product.price_on_request %}
                    <a type="button"
                       class="btn btn-dark"
                       href="{% url 'shop:individual_offer' category_path product.name %}">{% trans 'Request offer' %}</a>
                {% elif product.stock > 0 or product.stock == -1 %}
                    <button class="btn btn-dark"
                            onclick="addToCart('{% url 'shop:shoppingcart_add' product.category.path product.name %}')">{% trans 'Add to cart' %}
                    </button>
                {% else %}
                    <button disabled
                            class="btn btn-outline-dark">{% trans 'Not in stock' %}</button>
                {% endif %}
            </div>
        </div>
    {% endwith %}
</div>
