{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as language %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Cypetulip</title>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'cms/js/site-loader.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <!-- Fontawesome Freee Icons for this template -->
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <script defer src="{% static 'fontawesome-free/js/all.min.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/raleway-font.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'theme.css' %}" rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    {% endblock %}
</head>

<body role="document">
<!-- Modal -->
{% include 'wait-modal.html' %}
<header class="shop-header py-3">
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">{% trans 'Payment Methods' %} </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">{% trans 'Ship Methods' %}</a>&ensp;&#x007C;&ensp;
                <a class="blog-header-logo text-dark" href="#">{% trans 'Free Ship' %}</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <i class="fa fa-search mx-3"></i>
                </a>
                {% if not user.is_authenticated %}
                    <a class="btn btn-sm btn-outline-secondary" href="/shop/register/">{% trans 'Register' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<!-- Fixed navbar -->
{% include 'navbar.html' %}

<main role="main" id="main" style="margin-top: 50px;min-height: 600px">
    <div class="container">
        {% include 'notify-modal.html' %}

        {% block body %}
        {% endblock %}
    </div>


</main>
<footer class="col-md-12 footer">
    <div class="cold-md-4">
        <p class="text">
            <i>CypeTulip - Shopsystem</i>
            <span> &copy; BWK Technik GbR</span>
        </p>
    </div>
    <hr>
    <div class="col-md-4 center divider">
        <p style="font-size: smaller" class="text">Version<br>
            CypeTulip <span>{{ version }}</span><br>
        </p>
    </div>
    <hr>
    <div class="col-md-4 center divider">
        <img class="center" width="100" src="{% static 'images/test_small.png' %}">
    </div>
</footer>

<!-- /container -->
</body>
</html>
