{% load static %}
{% load i18n %}

{% if footer.is_enabled %}
    <footer class="footer">
        <div class="container">
            {% if footer.layout == 1 %}
                <div class="row flex-nowrap justify-content-between">
                    <div class="col-12">
                        {{ footer.content_column_one | safe }}
                    </div>
                </div>
            {% endif %}
            {% if footer.layout == 2 %}
                <div class="row flex-nowrap justify-content-between">
                    <div class="col-6">
                        {{ footer.content_column_one | safe }}
                    </div>
                    <div class="col-6 justify-content-end d-flex">
                        {{ footer.content_column_two | safe }}
                    </div>
                </div>
            {% endif %}
            {% if footer.layout == 3 %}
                <div class="row flex-nowrap justify-content-between">
                    <div class="col-4">
                        {{ footer.content_column_one | safe }}
                    </div>
                    <div class="col-4  text-center">
                        {{ footer.content_column_two | safe }}
                    </div>
                    <div class="col-4 d-flex  justify-content-end">
                        {{ footer.content_column_three | safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </footer>
{% endif %}

