{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap5 %}

{% block head %}
    <title>{{ page.page_name }} - {{ title }}</title>
{% endblock %}


{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container" role="main" id="main">
            <h1>{{ page.page_name }}</h1>

        {% for section in sections %}

            <div class="section">
                {{ section.content | safe }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
