{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as language %}

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container d-flex">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-block d-sm-none" href="#">{{ title }}</a>
        <div id="shopping-cart-mobile" class="cart nav-item d-block d-sm-none">
            <a class="btn btn-secondary btn-sm" href="{% url 'shop:shopping_cart' %}"><i
                    class="fa fa-shopping-cart"></i><span
                    class="ml-1 badge badge-dark">{{ open_orders | length }}</span></a>
        </div>
        <a class="navbar-brand d-none d-sm-block" href="#">{{ title }}</a>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-left">
                {% for page in sites_nav %}
                    {% if page.page_name == 'products' %}
                        <li class="nav-item nav-link dropdown">
                            <a role="button" style="color: rgba(0,0,0,.5);"
                               href="{% if page.link %}{{ page.link }}">{% else %}/cms/{{ page.page_name }}
                                   /">{% endif %}
                               {% trans page.page_name as page_name %}{{ page_name | upper }}</a>
                            <a class="dropdown-toggle" href="#" id="productCategories" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               style="color: rgba(0,0,0,.5);">
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="productCategories">
                                {% for category in categories %}
                                    <a class="dropdown-item"
                                       href="{% url 'shop:products' category.name %}">{{ category.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% if page.link %}{{ page.link }}">{% else %}/cms/{{ page.page_name }}
                                   /">{% endif %}
                               {% trans page.page_name as page_name %}{{ page_name | upper }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="ml-auto nav navbar-nav navbar-right ">
                <li id="lang-dropdown" class="nav-item dropdown">
                    <a href="#lang-dropdown" style="text-transform: uppercase" class="dropdown-toggle nav-link"
                       data-toggle="dropdown" data-target="#lang-dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><img class="flag flag-{{ language }}"/> {{ language }} </a>
                    <div class="dropdown-menu  dropdown-menu-right ">
                        <form id="lang-form">
                            {% csrf_token %}
                        </form>
                        <a class="dropdown-item" onclick="setLanguage('de')"><img class="flag flag-de"/> Deutsch</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="setLanguage('en')"><img class="flag flag-en"/> English</a>
                    </div>
                </li>
                <li id="shopping-cart" class="cart nav-item dropdown d-none d-sm-block">
                    {% include 'order/shopping-cart-nav.html' %}
                </li>
                {% if user.is_authenticated %}


                    <li id="usermenu" class="nav-item dropdown">
                        <a href="#usermenu" style="text-transform: capitalize;"
                           class="dropdown-toggle nav-link text-lowercase"
                           data-toggle="dropdown"
                           role="button" aria-haspopup="true" data-target="#usermenu"
                           aria-expanded="false"><i class="fa fa-user"></i> {{ user.username }} <span
                                class="caret"></span></a>
                        <div class="dropdown-menu  dropdown-menu-right ">
                            <span class="dropdown-header ">{{ user.first_name }} {{ user.last_name }}</span>
                            <a class="dropdown-item" href="{% url 'shop:my_account' %}">{% trans 'My account' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'shop:all_orders' %}">{% trans 'My orders' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'shop:account_settings' %}">{% trans 'Settings' %}</a>
                            {% if user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{% url 'management_index' %}">{% trans 'Management' %}</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/shop/logout">{% trans 'Logout' %}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/login">{% trans 'Login' %}</a>
                    </li>

                {% endif %}
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>