{% load i18n %}
<div id="noty-holder">

    <div id="alert-danger" class="alert alert-danger alert-dismissable page-alert hidden">
        <button type="button" class="close" onclick="$(this).parent().hide()"><span aria-hidden="true">×</span><span
                class="sr-only">Close</span>
        </button>
        <div id="danger-text">
            Ups, something went wrong. Please try again later or contact an administrator.
        </div>
    </div>
    <div id="alert-success" class="alert alert-success alert-dismissable page-alert hidden">
        <button type="button" class="close" onclick="$(this).parent().hide()"><span aria-hidden="true">×</span>
            <span class="sr-only">{% trans 'Close' %}</span>
        </button>
        <div id="success-text">
            {% trans 'Sent' %} {% trans 'successfully' %}</div>
    </div>
    <div id="alert-warning" class="alert alert-warning alert-dismissable page-alert hidden">
        <button type="button" class="close" onclick="$(this).parent().hide()"><span aria-hidden="true">×</span>
            <span class="sr-only">{% trans 'Close' %}</span>
        </button>
        <div id="warning-text">
            {% trans 'Looks like you have missed some fields' %}
        </div>
    </div>
</div>