argparse-actions==0.4.4
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
beautifulsoup4==4.8.2
bleach==3.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.0
cssselect==1.1.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.2
django-bootstrap4==1.1.1
django-bootstrap-static==4.2.1
django-braces==1.14.0
django-contrib-comments==1.9.2
django-currencies==0.10.1
django-extensions==2.2.5
django-filter==2.2.0
django-filebrowser-no-grappelli==3.8.0
django-flatpages-tinymce==0.1.1
django-google-tag-manager==0.0.5
django-google-analytics-app==4.4.0
django-oauth-plus==2.2.9
django-oauth-toolkit==1.2.0
django-oauth2-provider==0.2.6.1
django-simple-history==2.8.0
django-tempus-dominus==5.1.2.9
django-tinymce4-lite==1.7.5
django-toolbelt==0.0.1
django-uwsgi==0.2.2
django-wkhtmltopdf==3.2.0
djangorestframework==3.11.0
djangorestframework-oauth==1.1.0
filebrowser-safe==0.5.0
future==0.18.2
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.15.0
idna==2.8
mysql-connector-python==8.0.18
oauth2==1.9.0.post1
oauthlib==3.1.0
paypalrestsdk==1.13.1
pefile==2019.4.18
protobuf==3.11.2
Pillow==7.0.0
xhtml2pdf==0.2.4
pytz==2019.3
PyInstaller==3.6
PyPDF2==1.26.0
reportlab==3.5.32
requests==2.22.0
requests-oauthlib==1.3.0
shortuuid==0.5.0
singledispatch==3.4.0.3
six==1.13.0
static3==0.7.0
tinycss==0.4
tornado==6.0.3
tzlocal==2.0.0
urllib3==1.25.7
wheel==0.33.6
wkhtmltopdf==0.2


