{% extends 'base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load bootstrap4 %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input class="btn btn-primary" type="submit" value="Save">
        <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>
    </form>

{% endblock %}