{% extends 'base.html' %}
{% load staticfiles %}
{% load recurse %}

{% load i18n %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'onchange.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <link href="{% static 'admin.css' %}" rel="stylesheet">

    <title>Settings</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            Content
        </div>


{% endblock %}