{% extends 'base-mgmt.html' %}
{% load staticfiles %}
{% load recurse %}
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content container">
            <div>
                <h1>
                    <strong>{% trans "management" %}</strong>
                </h1>
            </div>

            <div>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header text-align-center">
                            <div>
                                <img src="{% static 'images/package.png' %}">
                            </div>
                            <div>
                                <strong>{% trans 'Orders' %}</strong>
                            </div>

                        </div>
                        <div class="card-body">
                            <p class="card-text">{% trans 'Show orders, track or cancel them' %}</p>
                            <a href="{% url 'management_all_orders' %}"
                               class="btn btn-primary">{% trans 'All orders' %}</a>
                            <p>{% trans 'Search orders' %}</p>
                            <form action="{% url 'search_orders' %}">
                                <div class="input-group">

                                    <input id="order-search" type="text" class="form-control"
                                           placeholder="Search for...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Go!</button>
                                  </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-align-center">
                            <div>
                                <img src="{% static 'images/support.png' %}">
                            </div>
                            <div>
                                <strong>{% trans 'Customers' %}</strong>
                            </div>
                        </div>

                        <div class="card-body">
                            <p>{% trans 'Show and edit customers' %}</p>
                            <a href="{% url 'customers_overview' %}"
                               class="btn btn-primary">{% trans 'Customers' %}</a>
                            <a href="{% url 'create_customer' %}"
                               class="btn btn-primary">{% trans 'Add customer' %}</a>
                            <p>{% trans 'Search customers' %}</p>
                            <form action="{% url 'search_orders' %}">
                                <div class="input-group">

                                    <input id="order-search" type="text" class="form-control"
                                           placeholder="Search for...">
                                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Go!</button>
                                                  </span>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="card">
                        <div style="overflow: auto" class="card-header text-align-center">
                            <div>
                                <img src="{% static 'images/package.png' %}">
                            </div>
                            <div>
                                <strong>{% trans 'Products and Categories' %}</strong>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{% trans 'Categories' %}</p>
                            <a href="{% url 'categories_overview' %}"
                               class="btn btn-primary">{% trans 'Show' %}</a>
                            <p>{% trans 'Products' %}</p>
                            <a href="{% url 'products_overview' %}"
                               class="btn btn-primary">{% trans 'Show' %}</a>
                            <a href="{% url 'create_product' %}"
                               class="btn btn-primary">{% trans 'Create new Product' %}</a>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header text-align-center">
                            <div>
                                <img src="{% static 'images/laptop.png' %}">
                            </div>
                            <div><strong>{% trans 'Settings' %}</strong></div>
                        </div>

                        <div class="card-body">
                            <div class="card-text">
                                <p>{% trans 'All shop related settings. Manage permissions, staff and products and pages' %}</p>
                            </div>
                            <div class="card-text btn-toolbar">
                                <div class="btn-group">
                                    <a href="{% url 'account_settings' %}"
                                       class="btn btn-primary mr-1">{% trans 'Staff' %}</a>
                                    <a href="{% url 'all_orders' %}"
                                       class="btn btn-primary mr-1">{% trans 'permissions' %}</a>
                                </div>
                                <div class="btn-group">
                                    <a href="{% url 'company_settings' %}"
                                       class="btn btn-primary mr-1">{% trans 'shop' %}</a>
                                    <a href="{% url 'company_settings' %}"
                                       class="btn btn-primary mr-1">{% trans 'pages' %}</a>
                                </div>
                                <div class="btn-group">
                                    <a href="{% url 'mail_settings_details' mail_settings.id %}"
                                       class="btn btn-primary mr-1">{% trans 'mail' %}</a>
                                    <a href="{% url 'ldap_settings_details'  ldap_settings.id %}"
                                       class="btn btn-primary mr-1">{% trans 'ldap' %}</a>
                                </div>


                            </div>


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header text-align-center">
                            <div>
                                <img src="{% static 'images/accounting.png' %}">
                            </div>
                            <div>
                                <strong>{% trans 'Accounting' %}</strong>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="card-text">
                                <p>{% trans 'Create or review accounting information' %}</p>
                                <a href="{% url 'account_settings' %}"
                                   class="btn btn-primary">{% trans 'Open Accounting' %}</a>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}