{% extends 'base-mgmt.html' %}
{% load static %}
{% load recurse %}
{% load bootstrap4 %}

{% load i18n %}
{% block head %}
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <div class="card-title h4">{% trans 'Filter' %}</div>
                    <form action="" method="get">

                        {% bootstrap_form filter.form %}
                        <button class="btn btn-fw btn-primary" type="submit">{% trans 'Go' %}</button>

                    </form>
                    <a href="{% url 'create_product' %}"
                       class="btn btn-fw btn-primary">{% trans 'Add Product' %}</a>
                    <hr>
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-9 mt-2 mt-md-0 table-responsive-sm">
            <div class="pt-3 pagination text-xs-center justify-content-center"
                 style="align-content: center; text-align: center">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Category' %}</th>
                    <th scope="col">{% trans 'Thumbnail' %}</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Price' %}</th>
                    <th scope="col">{% trans 'Configuration' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.category }}</td>
                        <td class="thumbnail">
                            <div>
                                {% if product.product_picture %}
                                    <img style="height: 5rem" alt="..."
                                         src="{{ product.product_picture.url }}"
                                         class="img-thumbnail">
                                {% else %}
                                    <i class="fa fa-4x fa-image img-thumbnail"></i>
                                {% endif %}

                            </div>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} €</td>

                        <td>
                            <div>
                                <a class="btn btn-outline-dark"
                                   href="{% url 'product_edit' product.id %}">{% trans 'Edit' %}</a>
                                <button class="btn btn-outline-dark" data-bs-toggle="modal"
                                        data-bs-target="#delete-modal-{{ product.id }}">{% trans 'Delete' %}</button>
                                {% include 'delete-modal.html' with id=product.id url='product_delete' url_param='product_id' %}

                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <div class="pt-3 pagination text-xs-center justify-content-center"
                 style="align-content: center; text-align: center">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>
        </div>
    </div>

{% endblock %}
