{% load i18n %}
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">
<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'utils.js' %}">

</script>
<div class="modal fade" id="assign-employee-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-title">{% trans 'Assign Employee' %}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans 'Please choose your Employee' %}
                <br>
                <br>
                <div class="form-group">
                    <select id="employee-select" class="selectpicker form-control" data-live-search="true">
                        {% for employee in employees %}
                            <option value="{{ employee.id }}"
                                    data-tokens="{{ employee.first_name }} {{ employee.last_name }}">
                                {{ employee.first_name }} {{ employee.last_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                <form id="assignEmployeeForm">
                    {% csrf_token %}
                </form>
                <button class="btn btn-primary"
                        onclick="assignEmployee( '{{ uuid }}')">{% trans 'Assign' %}</button>

            </div>

        </div>
    </div>
</div>


