{% load static %}
{% load i18n %}
{% load fb_versions %}
<a href="#shopping-cart" class="dropdown-toggle dropdown-toggle-split"
   data-bs-target="#shopping-cart" data-bs-toggle="dropdown" role="button"
   aria-haspopup="true"
   aria-expanded="false"><i class="fa fa-shopping-cart"></i><span
        class="ms-1 badge bg-dark">{{ open_orders | length }}</span>
    <span class="caret"></span>
</a>
<div class="dropdown-menu dropdown-menu-end" id="shoppingcart">
    <div class="dropdown-header">
        <div class="row">
            <a href="{% url 'shop:shopping_cart' %}"
               class="col-3 btn btn-secondary btn-sm text-align-right"><i class="fa fa-shopping-cart"></i></a>
            <strong class="col-5 col-md-3 text-right my-auto me-auto">{% trans 'Total: ' %}</strong>
            <span class="col-4 col-md-5 text-right my-auto me-auto">{{ total_cart | floatformat }} &euro;</span>
        </div>

    </div>

    {% for order in open_orders %}
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
            <div class="row m-auto">
                <div class="col-4">
                    <div class="col-8">
                        {% if order.product.product.product_picture %}
                            <img src="{% version order.product.product.productimage_set.first.product_picture 'thumbnail' %}"
                                 alt="..."
                                 class="img-fluid img-fluid img-thumbnail"/>
                        {% else %}
                            <i class="fa fa-4x fa-image img-thumbnail"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-7" style="overflow: hidden">
                    <small>{{ order.product.name }}</small>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <small>{{ order.product.bprice_wt }} &euro;</small>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="dropdown-divider"></div>
    <div class="row" style="padding: 0.25rem 0.5rem 0rem 2.5rem"></div>

</div>