{% extends 'base.html' %}
{% load static %}
{% load recurse %}

{% load i18n %}
{% block head %}
    <title>Products</title>
{% endblock %}

{% block body %}

    <div class="col-md-12">

        <h4>{% trans "We've received your order." %}</h4>
        <h5>{% trans "Thanks for choosing our shop!" %}</h5>
        <p>{% trans 'You may want to check your profile for the current state of your order ' %}<a
                href="{% url 'shop:detail_order' order.order_hash %}">{% trans 'Your order' %} {{ order.order_hash }}</a>
        </p>
    </div>


{% endblock %}
