{% extends 'base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <title>{% trans 'Sections' %}</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
    {{ form.media }}
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="col-md-12">
                <form method="post">{% csrf_token %}
                    {% bootstrap_field form.page layout='horizontal' %}
                    {% bootstrap_field form.picture layout='horizontal' %}
                    {% bootstrap_field form.content layout='horizontal' %}
                    <input class="btn btn-primary" type="submit" value="Save">
                    <a class="btn btn-secondary" href="{% url 'management_index' %}">{% trans 'Back' %}</a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}