{% extends 'base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <div class="col-md-12">
                <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>

                <table class="table table-hover table-striped table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Page' %}</th>
                        <th scope="col">{% trans 'Content' %}</th>
                        <th scope="col">{% trans 'Picture' %}</th>
                        <th scope="col">{% trans 'Configuration' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for section in sections %}
                        <tr>
                            <td>{{ section.id }}</td>
                            <td>{{ section.page }}</td>
                            <td>{{ section.content }}</td>
                            <td>{{ section.picture }}</td>
                            <td class="">
                                <div>
                                    <a class="btn btn-outline-dark"
                                       href="{% url 'section_edit' section.id %}">{% trans 'Edit' %}</a>
                                    <button class="btn btn-outline-dark" data-toggle="modal"
                                            data-target="#delete-modal">{% trans 'Delete' %}</button>

                                    {% include 'delete-modal.html' with id=section.id url='section_delete' url_param='section_id' %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}