{% extends 'base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load bootstrap4 %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <title>Products</title>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <div class="card-title h4">{% trans 'Filter' %}</div>
                    <form action="" method="get">

                        {% bootstrap_form filter.form %}
                        <button class="btn btn-fw btn-primary" type="submit">{% trans 'Go' %}</button>

                    </form>
                    <a href="{% url 'create_section' %}"
                       class="btn btn-fw btn-primary">{% trans 'Add Section' %}</a>
                    <hr>
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-9 mt-2 mt-md-0">

            <table class="table table-hover table-striped table-responsive-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Page' %}</th>
                    <th scope="col">{% trans 'Content' %}</th>
                    <th scope="col">{% trans 'Picture' %}</th>
                    <th scope="col">{% trans 'Configuration' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for section in filter.qs %}
                    <tr>
                        <td>{{ section.id }}</td>
                        <td>{{ section.page }}</td>
                        <td>{{ section.content|safe|truncatechars:800 }}</td>
                        <td>{{ section.picture }}</td>
                        <td>
                            <div>
                                <a class="btn btn-outline-dark"
                                   href="{% url 'section_edit' section.id %}">{% trans 'Edit' %}</a>
                                <button class="btn btn-outline-dark" data-toggle="modal"
                                        data-target="#delete-modal-{{ section.id }}">{% trans 'Delete' %}</button>

                                {% include 'delete-modal.html' with id=section.id url='section_delete' url_param='section_id' %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
{% endblock %}