{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="card card-container mx-auto">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>

        <p id="profile-name" class="profile-name-card"></p>
        {{ message }}
        <form class="form-signin" method="post" action="/shop/login/">
            <span id="reauth-email" class="reauth-email"></span>
            <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Email address"
                   required autofocus>
            <input name="password" type="password" id="inputPassword" class="form-control"
                   placeholder="Password" required>
            {% csrf_token %}
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> {% trans ' Remember me' %}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="{% url 'password_reset' %}" class="forgot-password">
            {% trans 'Forgot the password?' %}
        </a>
        <p class="pt-3">
            {% trans 'New?' %}
            <a href="{% url 'shop:register' %}" class="forgot-password">
                {% trans 'Register here' %}
            </a>
        </p>
    </div><!-- /card-container -->
{% endblock %}