{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
    <title>Register Account</title>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="card">
            <h2>{{ buttonText | upper }}</h2>
            <br>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% bootstrap_form_errors form layout='horizontal' %}
                <button class="btn btn-primary" type="submit">{{ buttonText }}</button>
            </form>
        </div>
    </div>

{% endblock %}