{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load recurse %}
{% load get_type %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'dist/js/jquery.validate.js' %}"></script>
    <script
            src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js"
            type="text/javascript"></script>
    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">


                <div class="content col-md-12">
                    <div class="order-step col-md-12 col-lg-12 col-xs-12">

                        <div class="col-md-4 col-lg-4 col-xs-4 left-step-normal">
                            <div style="margin: auto;align-content: center;text-align:
                                    center;border: 1px solid #efefef;background-color:#fafafa;
                                    padding: 10px">
                                <h4>{% trans "Checkout" %}</h4>
                                <i class="fa fa-pencil-square-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4 left-step-curr ">
                            <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#54c5b4;
                padding: 10px">
                                <h4>{% trans "Overview" %}</h4>
                                <i class="fa fa-check-square fa-3x"></i>
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4 left-step">
                            <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#fafafa;
                padding: 10px">
                                <h4>{% trans "payment" %}</h4>
                                <i class="fa fa-credit-card fa-3x"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 ">


                        <table id="cart" class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th style="width:50%">{% trans 'Product' %}</th>
                                <th style="width:10%">{% trans 'Price' %}</th>

                                <th style="width:22%" class="text-center">{% trans 'Subtotal' %}</th>
                                <th style="width:10%"></th>
                            </tr>
                            </thead>

                            <tbody>

                            <form id="order-form">
                                <input type="submit" hidden id="#submit">
                                {% for order in order_items %}
                                    <tr class="product-row">
                                        <td data-th="Product">
                                            <input type="hidden" name="[{{ order.id }}][prod]{{ order.product.id }}">

                                            <div class="row">
                                                <div class="col-sm-2 hidden-xs">
                                                    {%  if order.product.product.product_picture %}
                                                    <img
                                                        src="/media/{{ order.product.product.product_picture.url }}"
                                                        alt="..."
                                                        class="img-responsive"/>
                                                {%  endif %}</div>
                                                <div class="col-sm-10">
                                                    <h4 class="nomargin">{{ order.product.name }}</h4>

                                                    <p>{{ order.product.description|truncatechars:100 }}</p>
                                                </div>

                                            </div>
                                        </td>
                                        <td data-th="Price">{{ order.product.price }}</td>

                                        <td id="subtotal-{{ order.id }}" data-th="Subtotal"
                                            class="text-center">{{ order.product.price }} &euro;
                                        </td>
                                        <td class="actions" data-th="">
                                        </td>
                                    </tr>

                                    {% for sub_item in order.orderitem_set.all %}
                                        <tr id="{{ order.id }}-{{ sub_item.id }}" style="border-top: none">
                                            <td colspan="1">
                                                <div class="col-sm-12 ">


                                                    <div class="col-md-offset-1 col-md-11 sub-product required">
                                                        <div class="col-md-offset-1 col-md-9">
                                                            <h5><i><b>{{ sub_item.product.name }}</b></i></h5>

                                                            <p>
                                                            </p>

                                                            <div class="col-md-12">
                                                                {% if sub_item.fileorderitem %}
                                                                    {% trans 'File' %}:
                                                                    <a href="/media/{{ sub_item.fileorderitem.file.url }}">
                                                                        {{ sub_item.fileorderitem.file_name }}
                                                                    </a>
                                                                    <div class="col-sm-2 hidden-xs"><img
                                                                            src="/media/{{ sub_item.fileorderitem.file.url }}"
                                                                            alt="..."
                                                                            class="img-responsive"/></div>
                                                                {% elif sub_item.selectorderitem %}
                                                                    {{ sub_item.selectorderitem.selected_item }}
                                                                {% elif sub_item.checkboxorderitem %}
                                                                    {% trans 'Yes' %}
                                                                {% elif sub_item.numberorderitem %}
                                                                    {{ sub_item.numberorderitem.number }}
                                                                {% endif %}
                                                                </p>
                                                                <p class="error" style="color: #FF4136"></p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2" data-th="Price">{{ sub_item.product.price }} &euro;</td>
                                            <script>
                                                $(document).ready(function () {
                                                    addToSubTotal({{ order.id }}, {{ sub_item.product.price }})
                                                });
                                            </script>
                                            <td>

                                                {% if sub_product.is_multiple_per_item %}
                                                    <button onclick="duplicateProduct(this,{{ order.id }},{{ sub_product.price }})"
                                                            class="btn btn-secondary btn-sm"><i
                                                            class="fa fa-plus-circle"></i>
                                                    </button>
                                                    {#                                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>#}
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                                {% for sub_item in order_items_once_only %}
                                    <tr class="product-row" style="border-top: none">
                                        <td colspan="2">
                                            <div class="col-sm-12 ">
                                                <div class="col-md-12 required">
                                                    <div class="col-md-offset-1 col-md-9">
                                                        <h4>{{ sub_item.product.name }}</h4>


                                                        <div class="col-md-12">
                                                            {% if sub_item.fileorderitem %}
                                                                {% trans 'File' %}:
                                                                <a href="/media/{{ sub_item.fileorderitem.file.url }}">
                                                                    {{ sub_item.fileorderitem.file_name }}
                                                                </a>
                                                                <div class="col-sm-2 hidden-xs"><img
                                                                        src="/media/{{ sub_item.fileorderitem.file.url }}"
                                                                        alt="..."
                                                                        class="img-responsive"/></div>
                                                            {% elif sub_item.selectorderitem %}
                                                                {{ sub_item.selectorderitem.selected_item.name }}
                                                            {% elif sub_item.checkboxorderitem %}
                                                                {% trans 'Yes' %}
                                                            {% elif sub_item.numberorderitem %}
                                                                {{ sub_item.numberorderitem.number }}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </td>
                                        <td data-th="Subtotal" class="text-center">{{ sub_item.product.price }} &euro;
                                        </td>
                                        <td>
                                            <script>
                                                $(document).ready(function () {
                                                    addToSubTotal(0, {{ sub_item.product.price }})
                                                });
                                            </script>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% csrf_token %}

                            </form>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <form action="{% url 'checkout_order' order_details.order_hash %}" method="get">
                                        <a onclick="$(this).parent().submit()" class="btn btn-warning"><i
                                                class="fa fa-angle-left"></i> {% trans 'Back to checkout' %}</a>
                                    </form>


                                </td>
                                <td colspan="1" class="hidden-xs"></td>
                                <td class="hidden-xs text-center"><strong>
                                    {% trans 'Total: ' %}<span id="total">{{ total_cart }}</span> &euro;</strong></td>
                                <td><a onclick="$('#payment-form').submit();"
                                       class="btn btn-success btn-block">{% trans 'payment' %} <i
                                        class="fa fa-angle-right"></i></a></td>
                            </tr>
                            </tfoot>
                        </table>

                        <form id="payment-form" action="/payment/{{ order_details.order_hash }}/" method="post">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}