{% load static %}
{% load i18n %}
{% load recurse %}
{% load bootstrap5 %}


<script src="{% static 'utils.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type='text/javascript'>
    var csrfmiddlewaretoken = '{{ csrf_token }}';
    var order = '{{ order_details.order_hash }}';
    var is_authenticated = '{{ user.is_authenticated }}';
    var next_url = '{% url "shop:delivery_order" order_details.order_hash %}';
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue-cart',
        data: {
            csrfmiddlewaretoken: csrfmiddlewaretoken,
            addresses: [],
            shipment: "",
            order_hash: order,
            nextUrl: next_url,
            order: {},
            was_validated: false,
            form_contains_errors: false,
            order_items_submitted_count: 0,
            errors: {shipment: [], address: []},
            isAuthenticated: is_authenticated === 'True',
            errorMessages: undefined
        },
        mounted() {
            this.reloadData()
        },
        methods: {
            reloadData: function () {
                let instance = this
                axios.get('/api/v1/order/' + this.order_hash)
                    .then(response => {
                        if (Array.isArray(response.data)) {

                            this.order = response.data[0];
                        } else {
                            this.order = response.data;
                        }
                        this.order.order_items.forEach(function (orderItem) {
                            orderItem.product.product.assigned_sub_products.forEach(function (sub_prod) {
                                if (!orderItem.order_items.some(o => o.product.id === sub_prod.id)) {
                                    instance.addSubProductOrderItem(orderItem, sub_prod)
                                }
                            })
                        })

                    });
            },
            orderItemCountChanged: function (orderItem) {
                //var formData = new FormData();
                let item = {};
                this.putItem(orderItem, 'orderitem/', orderItem.id, item, (error => {
                    this.errorMessages = error.response.data.error
                    orderItem.count = error.response.data.count
                    this.$refs.showErrorModal.click()
                }))
                //postItem: function (formData, uri, subItem) {
            },
            fileSelected: function (subItem) {
                if (this.$refs['file-' + subItem.randID] && this.$refs['file-' + subItem.randID][0].files[0]) {
                    subItem.file = this.$refs['file-' + subItem.randID][0].files[0];
                    subItem.dirty = true;
                }
            },
            getOrderItemTotal: function (orderItem) {
                let instance = this
                let total = (orderItem.price_wt * 100 + orderItem.order_items.reduce(function (price, order_item_b) {
                    return price + instance.getOrderItemPrice(order_item_b) * 100
                }, 0)) * orderItem.count / 100
                return total
            },
            getOrderItemPrice: function (orderItem) {
                if (orderItem.product.checkboxsubitem) {
                    return orderItem.checkboxorderitem.is_checked ? orderItem.product.bprice_wt : 0;
                } else if (orderItem.product.selectsubitem) {
                    if (orderItem.selectorderitem.selected_item.id) {
                        return orderItem.product.selectsubitem.options.filter(option => option.id === orderItem.selectorderitem.selected_item.id)[0].price_wt
                    }
                    return 0;
                    //return orderItem.selectorderitem.selected_item.id ? orderItem.selectorderitem.selected_item.price_wt : 0;
                } else if (orderItem.product.filesubitem) {
                    return orderItem.file || orderItem.file_name || orderItem.fileorderitem.file_name ? orderItem.product.bprice_wt : 0;
                } else {
                    return orderItem.product.bprice_wt;
                }
            },
            getOrderTotal: function () {
                let instance = this
                if (this.order.order_items)
                    return this.order.order_items.reduce(function (price, order_item_b) {
                        return price + instance.getOrderItemTotal(order_item_b) * 100
                    }, 0) / 100
            },
            getOrderItemsForSubproduct: function (orderItem, subproductId) {
                return orderItem.order_items.filter(oi => oi.product.id === subproductId)
            },
            isValid: function (orderItem) {
                return orderItem.valid;
            },
            isOnlyItem: function (orderItem, subproductId) {
                return orderItem.order_items.filter(oi => oi.product.id === subproductId).length === 1
            },
            addSubProductOrderItem: function (orderItem, subProduct) {
                var id = Math.random().toString(36).substring(7);
                orderItem.order_items.push({
                    'product': subProduct,
                    'randID': id,
                    'value': '',
                    'dirty': true,
                    'errors': [],
                    'valid': true,
                    'fileorderitem': {},
                    'numberorderitem': {},
                    'selectorderitem': {'selected_item': {}},
                    'checkboxorderitem': {'is_checked': false}
                })
            },
            removeOrderItem: function (orderItem) {
                orderItem.order_items.forEach(item => {
                    if (item.id) this.deleteItem('orderitem/', item.id)
                })
                this.deleteItem('orderitem/', orderItem.id);
                this.order.order_items = this.order.order_items.filter(item => !(item.id === orderItem.id))
            },
            removeSubProductOrderItem: function (orderItem, randID) {
                itemToRemove = orderItem.order_items.filter(item => (item.randID === randID))[0]
                orderItem.order_items = orderItem.order_items.filter(item => !(item.randID === randID))
                if (itemToRemove.id) {
                    this.deleteItem('orderitem/', itemToRemove.id)
                }
            },
            submitCart: function (nextURL) {
                loadingSpinner = $('#loading-spinner');
                loadingSpinner.removeClass('overlay-hidden');
                let instance = this;
                const requests = [];
                this.order.order_items.forEach(function (orderItem) {
                    orderItem.order_items.forEach(function (subItem) {
                        this.order_items_submitted_count++;
                        let form = instance.$refs['form-' + subItem.randID];
                        var formData = new FormData(form[0]);
                        formData.append('product', subItem.product.id);
                        formData.append('order', instance.order.order.id);
                        formData.append('order_detail', instance.order.id);
                        formData.append('order_item', orderItem.id);
                        formData.append('id', subItem.id);
                        var skip = false;

                        if (subItem.product.filesubitem && subItem.dirty) {
                            if (subItem.product.is_required || subItem.file) {
                                formData.append('file', subItem.file);
                                uri = 'fileorderitem/';
                                subItem.dirty = true;
                            } else {
                                skip = true;
                            }
                        }
                        if (subItem.product.numbersubitem) {
                            formData.append('number', subItem.numberorderitem.number);
                            uri = 'numberorderitem/';
                            subItem.dirty = true;
                        }
                        if (subItem.product.checkboxsubitem) {
                            formData.append('is_checked', subItem.checkboxorderitem.is_checked);
                            uri = 'checkboxorderitem/';
                            subItem.dirty = true;
                        }
                        if (subItem.product.selectsubitem) {
                            if (subItem.product.is_required || subItem.selectorderitem.selected_item.id) {
                                formData.append('selected_item', subItem.selectorderitem.selected_item.id);
                                uri = 'selectorderitem/';
                                subItem.dirty = true;
                            } else {
                                skip = true;
                            }
                        }
                        if (!skip) {
                            if (subItem.id && subItem.dirty) {
                                requests.push(instance.putItem(formData, uri, subItem.id, subItem))
                            } else if (!subItem.id) {
                                requests.push(instance.postItem(formData, uri, subItem))
                            }
                        }
                    })
                })
                axios.all(requests)
                    .finally(() => {
                        loadingSpinner.addClass('overlay-hidden');
                        if (instance.form_contains_errors) {
                            instance.form_contains_errors = false
                        } else {
                            if (!this.isAuthenticated) {
                                this.$refs.showModal.click()
                            } else {
                                this.continueToNextStep()
                            }
                        }
                    });
                this.was_validated = true;

            },
            continueToNextStep: function () {
                var nextForm = $('#next-step-form');
                nextForm.submit();
            },
            deleteItem: function (uri, id) {
                loadingSpinner = $('#loading-spinner');
                axios.delete('/api/v1/' + uri + id + "/", {
                    headers: {
                        'X-CSRFToken': this.csrfmiddlewaretoken
                    }
                })
                    .then(response => {
                        loadingSpinner.addClass('overlay-hidden');
                    })
                    .catch(error => {
                        loadingSpinner.addClass('overlay-hidden');
                    }).finally(() => loadingSpinner.addClass('overlay-hidden'))
            },
            postItem: function (formData, uri, subItem) {
                let instance = this;
                loadingSpinner = $('#loading-spinner');
                return axios.post('/api/v1/' + uri, formData, {
                    headers: {
                        'X-CSRFToken': this.csrfmiddlewaretoken
                    }
                })
                    .then(response => {
                        subItem.id = response.data.id;
                        if (subItem.fileorderitem) {
                            subItem.fileorderitem.file_name = response.data.file_name
                        }
                    })
                    .catch(error => {
                        subItem.errors = error.response.data;
                        subItem.valid = false;
                        instance.form_contains_errors = true;
                    })
            },
            putItem: function (formData, uri, id, subItem, callback) {
                let instance = this;
                loadingSpinner = $('#loading-spinner');
                return axios.put('/api/v1/' + uri + id + "/", formData, {
                    headers: {
                        'X-CSRFToken': this.csrfmiddlewaretoken
                    }
                })
                    .then(response => {

                        if (subItem.fileorderitem) {
                            subItem.fileorderitem.file_name = response.data.file_name
                        }
                    })
                    .catch(error => {
                        subItem.errors = error.response.data;
                        subItem.valid = false;
                        instance.form_contains_errors = true;
                        if (callback) {
                            callback(error)
                        }
                    })
            }

        }
    })
</script>
