{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load recurse %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'utils.js' %}"></script>
    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <div class="order-step row">
                <div class="col-4 left-step-curr">
                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#54c5b4;
                padding: 10px">
                        <h4>{% trans 'Shoppingcart' %}</h4>
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                </div>
                <div class="col-4 left-step-normal">

                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#fafafa;
                padding: 10px">
                        <h4>{% trans "Check" %}</h4>
                        <i class="fa fa-pencil-square-o fa-3x"></i>
                    </div>
                </div>
                <div class="col-4 left-step">
                    <div style="margin: auto;align-content: center;text-align:
                center;border: 1px solid #efefef;background-color:#fafafa;
                padding: 10px">
                        <h4>{% trans "Overview" %}</h4>
                        <i class="fa fa-check-square fa-3x"></i>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-md-12 ">


                    <table id="cart" class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th style="width:50%">{% trans 'Product' %}</th>
                            <th style="width:10%">{% trans 'Price' %}</th>

                            <th style="width:22%" class="text-center">{% trans 'Subtotal' %}</th>
                            <th style="width:10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in open_orders %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            {%  if order.product.product.product_picture %}
                                            <img
                                                src="/media/{{ order.product.product.product_picture.url }}" alt="..."
                                                class="img-responsive img-thumbnail"/>
                                            {%  endif %}
                                        </div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">{{ order.product.name }}</h4>

                                            <p>{{ order.product.description|truncatechars:100 }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{ order.product.price }}</td>

                                <td data-th="Subtotal" class="text-center">{{ order.product.price }} &euro;</td>
                                <td class="actions" data-th="">
                                    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        {% if not open_orders %}
                            <tr>
                                <td data-th="Product">
                                    {% trans 'Empty Cart' %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><a href="/shop/products/" class="btn btn-warning"><i
                                    class="fa fa-angle-left"></i> {% trans 'Continue Shopping' %}</a></td>
                            <td colspan="1" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>{% trans 'Total: ' %}{{ total_cart }}
                                &euro;</strong>
                            </td>
                            <td><a href="/shop/checkout/{{ order_details.order_hash }}"
                                   class="btn btn-success btn-block">{% trans 'Checkout' %}<i
                                    class="fa fa-angle-right"></i></a></td>
                        </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
        </div>
    </div>

{% endblock %}