{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load recurse %}
{% block head %}
    <script src="{% static 'utils.js' %}"></script>
    <title>{{ product.name }}</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block body %}
    <div id="vue-cart">
        <div class="order-step row">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <a href="" type="button" class="btn btn-success btn-circle"><i
                                class="fa fa-shopping-cart"></i></a>
                        <p><small>{% trans 'Shoppingcart' %}</small></p>
                    </div>
                    <div class="stepwizard-step">
                        <a @click="submitCart()" type="button"
                           class="btn btn-outline-success btn-circle"><i
                                class="fas fa-truck"></i></a>
                        <p><small>{% trans "Delivery" %}</small></p>
                    </div>
                    <div class="stepwizard-step">
                        <a type="button" class="btn btn-outline-success btn-circle"><i
                                class="fas fa-credit-card"></i></a>
                        <p><small>{% trans "Payment" %}</small></p>
                    </div>
                    <div class="stepwizard-step">
                        <a type="button" class="btn btn-outline-success btn-circle"><i
                                class="fas fa-check-square "></i></a>
                        <p><small>{% trans "Overview" %}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div  class="col-md-12 needs-validation">
                {% csrf_token %}
                <table id="cart" class="table table-hover table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th style="width:50%">{% trans 'Product' %}</th>
                        <th style="width:10%">{% trans 'Price' %}</th>

                        <th style="width:22%" class="text-center">{% trans 'Subtotal' %}</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="order_item in order.order_items">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-2 hidden-xs">

                                        <img v-if="order_item.product.product.product_picture"
                                             :src="order_item.product.product.product_picture"
                                             class="img-fluid img-thumbnail"/>
                                        <i v-else class="fa fa-4x fa-image img-thumbnail"></i>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">
                                            [[order_item.product.name]]</h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                [[order_item.price_wt.toFixed(2)]] €
                            </td>
                            <td class="text-center">
                                [[getOrderItemTotal(order_item).toFixed(2)]] €
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm"
                                        @click="removeOrderItem(order_item)"
                                        ><i
                                        class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                        <template v-for="subproduct in order_item.product.product.assigned_sub_products">
                            <tr style="background-color: white"
                                v-for="(order_items_subproduct, index) in getOrderItemsForSubproduct(order_item, subproduct.id)">

                                <td class="pl-5">
                                    <h5>[[subproduct.name]]</h5>
                                    <p><small v-html="subproduct.description">
                                    </small>
                                    </p>
                                    <form enctype="multipart/form-data" action="/api/v1/orderitem"
                                          :class="{'was-validated': (was_validated &&  order_items_subproduct.dirty)}"
                                          method="post" :ref="'form-'+order_items_subproduct.randID">
                                        <div v-if="order_items_subproduct.product.filesubitem"
                                             :class="{'input-group':true, 'is-invalid': order_items_subproduct.errors.file}">
                                                <input :required="subproduct.is_required"
                                                       :onchange="fileSelected(order_items_subproduct)"
                                                       :valid="isValid(order_items_subproduct)"
                                                       type="file"
                                                       :class="{'custom-file-input':true, 'form-control':true, 'is-invalid': order_items_subproduct.errors.file}"
                                                       :id="'inputGroupFile-'+order_items_subproduct.randID"
                                                       :ref="'file-'+order_items_subproduct.randID"
                                                       v-model="order_items_subproduct.file_name"
                                                       aria-describedby="inputGroupFileAddon01">
                                                <label :class="{'custom-file-label':true, 'is-invalid': order_items_subproduct.errors.file}"
                                                       :valid="isValid(order_items_subproduct)"
                                                       :for="'inputGroupFile-'+order_items_subproduct.randID">[[order_items_subproduct.file_name]]</label>

                                            <div v-if="isValid(order_items_subproduct)" class="valid-feedback">
                                                {% trans 'Looks good!' %}
                                            </div>
                                            <div class="invalid-feedback">
                                                <p v-for="error in order_items_subproduct.errors.file ">
                                                    [[error]]
                                                </p>
                                            </div>
                                            <div class="w-100 pt-1 pl-2">
                                                <span>{% trans 'Current File: ' %} [[order_items_subproduct.fileorderitem.file_name]]</span>
                                            </div>
                                        </div>
                                        <div v-if="order_items_subproduct.product.checkboxsubitem"
                                             :class="{'input-group':true, 'is-invalid': order_items_subproduct.is_checked}">
                                            <div class="form-check">
                                                <label  class="form-check-label">
                                                <input class=" form-check-input" type="checkbox" :required="order_items_subproduct.product.is_required"
                                                              v-model="order_items_subproduct.checkboxorderitem.is_checked"
                                                              >[[order_items_subproduct.product.checkboxsubitem.name]]</label>
                                                <div class="valid-feedback">
                                                    {% trans 'Looks good!' %}
                                                </div>
                                                <div v-if="!isValid(order_items_subproduct)" style="display: block" class="invalid-feedback">
                                                    <p v-for="error in order_items_subproduct.errors.is_checked ">
                                                        [[error]]
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="order_items_subproduct.product.selectsubitem"
                                             :class="{'input-group':true, 'has-error': order_items_subproduct.errors  > 0}">
                                            <div class="form-group w-100">
                                                <select :required="order_items_subproduct.product.is_required"
                                                        v-model="order_items_subproduct.selectorderitem.selected_item.id"
                                                        class="form-control">
                                                    <option v-for="option in order_items_subproduct.product.selectsubitem.options" :value="option.id">[[option.name]]</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    {% trans 'Looks good!' %}
                                                </div>
                                                <div class="invalid-feedback">
                                                    <p v-for="error in order_items_subproduct.errors.selected_item ">
                                                        [[error]]
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="order_items_subproduct.product.numbersubitem"
                                             :class="{'input-group':true, 'has-error': order_items_subproduct.errors  > 0}">
                                            <div class="form-group w-100">

                                                <label>[[order_items_subproduct.product.numbersubitem.name]]</label>
                                                <input :required="order_items_subproduct.product.is_required"
                                                       type="number"
                                                       class="form-control"
                                                       v-model="order_items_subproduct.numberorderitem.number">
                                                <div class="valid-feedback">
                                                    {% trans 'Looks good!' %}
                                                </div>
                                                <div class="invalid-feedback">
                                                    <p v-for="error in order_items_subproduct.errors.number ">
                                                        [[error]]
                                                    </p>
                                                </div>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    [[order_items_subproduct.product.bprice_wt]] €
                                </td><td></td>
                                <td>
                                    <div v-if="subproduct.is_multiple_per_item">
                                        <button @click="addSubProductOrderItem(order_item,subproduct)"
                                                class="button-add-subproduct btn btn-secondary btn-sm"><i
                                                class="fa fa-plus-circle"></i>
                                        </button>

                                        <button v-if="!isOnlyItem(order_item, subproduct.id)" @click="removeSubProductOrderItem(order_item, order_items_subproduct.randID)"
                                                class="button-remove-subproduct btn btn-secondary btn-sm"><i
                                                class="fa fa-minus-circle"></i>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </template>
                    </template>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="width:50%"></td>
                        <td style="width:10%"></td>
                        <td style="width:22%" class="text-center"><strong>{% trans 'Total: ' %}<span
                                id="total">[[getOrderTotal().toFixed(2)]]</span> &euro;</strong>
                        <p>({% trans 'incl. Tax' %})</p></td>
                        <td style="width:10%"></td>
                    </tr>


                    </tfoot>
                </table>
                <div class="row">
                    <div class="col">
                        <a href="/shop/products/" class="btn btn-warning"><i
                                class="fa fa-angle-left"></i> {% trans 'Continue Shopping' %}</a>
                    </div>
                    <div class="col">
                        <a type="submit" @click="submitCart()"
                           class="btn btn-success float-right">{% trans 'Delivery' %} <i
                                class="fa fa-angle-right"></i></a>
                    </div>
                    <form id="next-step-form" action="/shop/delivery/{{ order_details.order_hash }}" method="get">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        var csrfmiddlewaretoken = '{{ csrf_token }}';
        var order = '{{ order_details.order_hash }}';
        var next_url = '{% url "shop:delivery_order" order_details.order_hash %}';
    </script>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#vue-cart',
            data: {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                addresses: [],
                shipment: "",
                order_hash: order,
                nextUrl: next_url,
                order: {},
                was_validated: false,
                form_contains_errors: false,
                order_items_submitted_count: 0,
                errors: {shipment: [], address: []},
            },
            mounted() {
                this.reloadData()
            },
            methods: {
                reloadData: function () {
                    let instance = this
                    axios.get('/api/v1/order/'+this.order_hash)
                        .then(response => {
                            this.order = response.data;
                            this.order.order_items.forEach(function(orderItem) {
                                orderItem.product.product.assigned_sub_products.forEach(function(sub_prod) {
                                    if(!orderItem.order_items.some(o => o.product.id === sub_prod.id)){
                                        instance.addSubProductOrderItem(orderItem, sub_prod)
                                    }
                                })
                            })

                        });
                },
                fileSelected: function(subItem) {
                    if (this.$refs['file-' + subItem.randID] &&  this.$refs['file-' + subItem.randID][0].files[0]) {
                        subItem.file = this.$refs['file-' + subItem.randID][0].files[0];
                        subItem.dirty = true;
                    }
                },
                getOrderItemTotal: function(orderItem) {
                    return (orderItem.price_wt*100 + orderItem.order_items.reduce(function(price, order_item_b) {
                        return price + order_item_b.product.bprice_wt *100
                    },0)) / 100
                },
                getOrderTotal: function() {
                    let instance = this
                    if(this.order.order_items)
                        return this.order.order_items.reduce(function(price, order_item_b) {
                            return price + instance.getOrderItemTotal(order_item_b) * 100
                        },0) / 100
                },
                getOrderItemsForSubproduct: function(orderItem, subproductId) {
                    return orderItem.order_items.filter(oi => oi.product.id === subproductId)
                },
                isValid: function(orderItem){
                    return orderItem.valid;
                },
                isOnlyItem: function(orderItem, subproductId) {
                    return orderItem.order_items.filter(oi => oi.product.id === subproductId).length===1
                },
                addSubProductOrderItem: function(orderItem, subProduct) {
                    var id = Math.random().toString(36).substring(7);
                    orderItem.order_items.push({'product': subProduct,'randID': id, 'value': '', 'dirty':true, 'errors':[],'valid':true,
                        'fileorderitem':{}, 'numberorderitem':{}, 'selectorderitem':{'selected_item':{}}, 'checkboxorderitem':{'is_checked':false} })
                },
                removeOrderItem: function(orderItem){
                    orderItem.order_items.forEach(item =>{  if(item.id) this.deleteItem('orderitem/', item.id) })
                    this.deleteItem('orderitem/', orderItem.id);
                    this.order.order_items = this.order.order_items.filter(item => !(item.id === orderItem.id))
                },
                removeSubProductOrderItem: function(orderItem, randID) {
                    itemToRemove =  orderItem.order_items.filter(item => (item.randID === randID))[0]
                    orderItem.order_items = orderItem.order_items.filter(item => !(item.randID === randID))
                    if(itemToRemove.id){
                        this.deleteItem('orderitem/', itemToRemove.id)
                    }
                },
                submitCart: function (nextURL){
                    loadingSpinner = $('#loading-spinner');
                    loadingSpinner.removeClass('overlay-hidden');
                    let instance = this;
                    const requests = [];
                    this.order.order_items.forEach(function(orderItem) {
                        orderItem.order_items.forEach(function(subItem) {
                            this.order_items_submitted_count++;
                            let form = instance.$refs['form-' + subItem.randID];
                            var formData = new FormData(form[0]);
                            formData.append('product', subItem.product.id);
                            formData.append('order', instance.order.order.id);
                            formData.append('order_detail', instance.order.id);
                            formData.append('order_item', orderItem.id);
                            formData.append('id', subItem.id);
                            var skip = false;

                            if (subItem.product.filesubitem && subItem.dirty) {
                                if (subItem.product.is_required || subItem.file) {
                                    formData.append('file', subItem.file);
                                    uri = 'fileorderitem/';
                                    subItem.dirty = true;
                                } else {
                                    skip = true;
                                }
                            }
                            if (subItem.product.numbersubitem) {
                                formData.append('number', subItem.numberorderitem.number);
                                uri = 'numberorderitem/';
                                subItem.dirty = true;
                            }
                            if (subItem.product.checkboxsubitem) {
                                formData.append('is_checked', subItem.checkboxorderitem.is_checked);
                                uri = 'checkboxorderitem/';
                                subItem.dirty = true;
                            }
                            if (subItem.product.selectsubitem) {
                                if (subItem.product.is_required || subItem.selectorderitem.selected_item.id) {
                                    formData.append('selected_item', subItem.selectorderitem.selected_item.id);
                                    uri = 'selectorderitem/';
                                    subItem.dirty = true;
                                } else {
                                    skip = true;
                                }
                            }
                            if (!skip) {
                                if (subItem.id && subItem.dirty) {
                                    requests.push(instance.putItem(formData, uri, subItem.id, subItem))
                                } else if (!subItem.id) {
                                    requests.push(instance.postItem(formData, uri, subItem))
                                }
                            }
                        })
                    })
                    axios.all(requests)
                        .finally(()=>{
                            loadingSpinner.addClass('overlay-hidden');
                            if(instance.form_contains_errors){
                                instance.form_contains_errors = false
                            } else {
                                var nextForm = $('#next-step-form');
                                nextForm.submit();
                            }
                        });
                    this.was_validated = true;

                },
                deleteItem: function(uri, id){
                    loadingSpinner = $('#loading-spinner');
                    axios.delete('/api/v1/'+uri+id+"/", {
                        headers: {
                            'X-CSRFToken': this.csrfmiddlewaretoken
                        }
                    })
                        .then(response => {
                            loadingSpinner.addClass('overlay-hidden');
                        })
                        .catch(error => {
                            loadingSpinner.addClass('overlay-hidden');
                        }).finally(() => loadingSpinner.addClass('overlay-hidden'))
                },
                postItem: function (formData, uri, subItem) {
                    let instance = this;
                    loadingSpinner = $('#loading-spinner');
                    return axios.post('/api/v1/' + uri, formData, {
                        headers: {
                            'X-CSRFToken': this.csrfmiddlewaretoken
                        }
                    })
                        .then(response => {
                            subItem.id = response.data.id;
                            if (subItem.fileorderitem) {
                                subItem.fileorderitem.file_name = response.data.file_name
                            }
                        })
                        .catch(error => {
                            subItem.errors = error.response.data;
                            subItem.valid = false;
                            instance.form_contains_errors = true;
                        })
                },
                putItem: function (formData, uri, id, subItem) {
                    let instance = this;
                    loadingSpinner = $('#loading-spinner');
                    return axios.put('/api/v1/' + uri + id + "/", formData, {
                        headers: {
                            'X-CSRFToken': this.csrfmiddlewaretoken
                        }
                    })
                        .then(response => {

                            if (subItem.fileorderitem) {
                                subItem.fileorderitem.file_name = response.data.file_name
                            }
                        })
                        .catch(error => {
                            subItem.errors = error.response.data;
                            subItem.valid = false;
                            instance.form_contains_errors = true;
                        })
                }

            }
        })
    </script>
{% endblock %}
