{% load static %}
{% load i18n %}
<a href="#shopping-cart" class="dropdown-toggle nav-link"
   data-target="#shopping-cart" data-toggle="dropdown" role="button"
   aria-haspopup="true"
   aria-expanded="false"><i class="fa fa-shopping-cart"></i>
    <span class="hidden-sm">{% trans 'Shoppingcart' %}
        {% if number_items > 0 %}
            ({{ number_items }})
        {% endif %}
                            </span>
    <span class="caret"></span>
</a>
<div class="dropdown-menu dropdown-menu-right padding-1rem" id="shoppingcart">
    <div class="dropdown-header">
        <div class="row">
            <a href="{% url 'shopping_cart' %}"
               class="col-3 btn btn-secondary btn-sm text-align-right">{% trans 'Open cart' %}</a>
            <strong class="col-3 text-right my-auto">{% trans 'Total: ' %}</strong>
            <span class="col-5 text-right my-auto">{{ total_cart }} &euro;</span>
        </div>

    </div>

    {% for order in open_orders %}
        <div class="dropdown-divider hidden-sm"></div>
        <div class="dropdown-item hidden-sm">
            <div class="row" style="min-height: 30px; width: 450px;">
                <div class="col-4">
                    <div class="col-8">
                        {% if order.product.product.product_picture %}
                            <img src="{{ order.product.product.product_picture.url }}"
                                 alt="..."
                                 class="img-fluid img-responsive img-thumbnail"/>
                        {% else %}
                            <i class="fa fa-image img-thumbnail"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-7" style="overflow: hidden">
                    <small>{{ order.product.name }}</small>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2">
                    <small>{{ order.product.price }} &euro;</small>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="dropdown-divider"></div>
    <div class="row" style="padding: 0.25rem 0.5rem 0rem 2.5rem">


    </div>

</div>