{% extends 'management/generic/generic-create.html' %}
{% load bootstrap5 %}
{% load i18n %}

{% load fb_versions %}

{% block form %}
    {% bootstrap_form form exclude="attributes" form_group_class="m-1" layout='horizontal' %}

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type='text/javascript'>
        var csrfmiddlewaretoken = '{{ csrf_token }}';
        var selProductId = {% if object %}{{ object.id }}{% else %}""{% endif %};
    </script>

    <div id="app">
        <div class="form-group m-1 row"><label class="col-md-3 col-form-label"
                                               for="id_selectedAttributes">Attributes</label>
            <div class="col-md-8"><select size="10" v-model="selectedAttributes" name="attributes"
                                          class="form-control"
                                          title="" id="id_selectedAttributes"
                                          multiple="">
                <option v-for="option in productAttributeTypeInstances" v-bind:value="option.id">
                    [[ getTypeName(option.type) ]] | [[ option.value ]]
                </option>

            </select></div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#product-attribute-create">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="product-attribute-create" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="max-width:800px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Create Product Attribute' %}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="{% trans 'Close' %}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group m-1 row"><label class="col-md-3 col-form-label"
                                                               for="id_attributes">{% trans 'Attribute Type' %}</label>
                            <div class="col-md-9"><select v-model="selectedType" name="attributesModal"
                                                          class="form-control" title=""
                                                          id="id_attributetypes"
                            >
                                <option v-for="option in productAttributeTypes" v-bind:value="option">
                                    [[ option.name ]]
                                </option>

                            </select></div>


                        </div>
                        <div class="form-group m-1 row">
                            <label class="offset-1 col-md-3 col-form-label"
                                   for="id_attributes">{% trans 'Add new attribute type' %}</label>
                            <div class="col-md-7"><input type="text" v-model="newTypeName" maxlength="300"
                                                         class="form-control"
                                                         placeholder="Details" title=""></div>
                            <div class="col-md-1">
                                <button type="button" v-on:click="addProductAttributeType()" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div v-if="selectedType" class="form-group row"><label class="col-md-3 col-form-label"
                                                                               for="id_selectedAttributes">Attributes</label>
                            <div class="col-md-9"><select size="10" readonly="" name="selectedAttributes"
                                                          class="form-control"
                                                          title="" id="id_selectedAttributes"
                                                          multiple="">
                                <option v-for="option in filterByType(productAttributeTypeInstances)"
                                        v-bind:value="option.value">
                                    [[ getTypeName(option.type) ]] | [[ option.value ]]
                                </option>

                            </select></div>


                        </div>
                        <div v-if="selectedType" class="form-group row">
                            <label class="offset-1 col-md-3 col-form-label"
                                   for="id_attributes">{% trans 'Add new attribute' %}</label>
                            <div class="col-md-7"><input type="text" v-model="newTypeInstanceName" maxlength="300"
                                                         class="form-control"
                                                         placeholder="Instance Value" title=""></div>
                            <div class="col-md-1">
                                <button type="button" v-on:click="addProductAttributeTypeInstance()"
                                        class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% trans 'Close' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>{% trans 'Images' %}</h3>

                <div class="row">

                    <div v-for="img in productImages" class="col-lg-3 col-md-4 col-6">
                        <div class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" style="object-fit: cover;height: 20vw;"
                                 :src="img.product_picture" alt="">
                            <button v-on:click="deleteProductImage(img)" style="position: absolute;right: 20px;"
                                    type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group files">
                            <label>Upload Your File </label>
                            <input :ref="'product-images'" id="product-images" type="file" class="form-control"
                                   multiple="">
                        </div>
                    </div>
                    <!--item-inner-->
                    <button type="button" v-on:click="uploadProductImages()"
                            class="float-end btn btn-primary">{% trans 'Upload' %}</button>

                </div>
            </div>
        </div>

        <div class="col-md-1">
            {#            {% include 'modals/product-attribute-create.html' %}#}
        </div>
    </div>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                selectedProductId: null,
                selectedProduct: {},
                productImages: [],
                productAttributeTypes: [],
                productAttributeTypeInstances: [],
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                selectedAttributes: [],
                selectedType: "",
                newTypeName: '',
                newTypeInstanceName: ''
            },
            mounted() {
                this.selectedProductId = selProductId
                this.reloadData()
            },
            methods: {
                reloadData: function () {
                    var instance = this;
                    axios.get('/api/v1/productattributetypes')
                        .then(response => {
                            this.productAttributeTypes = response.data
                        });
                    if (this.selectedProductId) {
                        axios.get('/api/v1/product/' + this.selectedProductId + '/productimage')
                            .then(response => {
                                this.productImages = response.data
                            })
                    }

                    axios.get('/api/v1/productattributetypeinstances')
                        .then(response => {
                            this.productAttributeTypeInstances = response.data
                            if (this.selectedProductId) {
                                axios.get('/api/v1/products/' + this.selectedProductId).then(
                                    response => {
                                        this.selectedProduct = response.data
                                        this.selectedAttributes = this.productAttributeTypeInstances.filter(function (attributeInstance) {
                                            return instance.selectedProduct.attributes.includes(attributeInstance.url)
                                        }).map(attribute => attribute.id)
                                    })
                            }
                        })
                },
                updateProductAttributyType: function (type) {
                    console.log('Hello from ' + type + '!')
                },
                addProductAttributeType: function () {
                    axios.post('/api/v1/productattributetypes/', {
                        'name': this.newTypeName, 'csrfmiddlewaretoken':
                        this.csrfmiddlewaretoken
                    })
                        .then(response => {
                            this.productAttributeTypes.push(response.data)
                            this.newTypeName = "";
                            this.selectedType = response.data;
                        })
                },
                getTypeName: function (name) {
                    return this.productAttributeTypes.filter(function (type) {
                        return type.url === name;
                    })[0].name;

                },
                addProductAttributeTypeInstance: function () {
                    axios.post('/api/v1/productattributetypeinstances/', {
                        'value': this.newTypeInstanceName,
                        'type': this.selectedType.url
                    })
                        .then(response => {
                            this.productAttributeTypeInstances.push(response.data)
                        })
                },
                deleteProductImage: function (img) {
                    let instance = this;
                    axios.delete('/api/v1/productimage/' + img.id)
                        .then(response => {
                            instance.reloadData()
                        })
                },
                uploadProductImages: function () {
                    if (!this.selectedProductId) {

                    }
                    let files = Array.from(this.$refs['product-images'].files);
                    let instance = this;
                    console.log(files)
                    files.forEach(function (entry) {
                        var formData = new FormData();
                        formData.append('product', instance.selectedProductId);
                        formData.append('product_picture', entry);
                        axios.post('/api/v1/productimage/', formData)
                            .then(response => {
                                instance.reloadData()
                            })
                    })
                },
                filterByType: function () {
                    var instance = this;
                    return this.productAttributeTypeInstances.filter(function (typeInstance) {
                        return typeInstance.type === instance.selectedType.url;
                    })
                }
            }
        });
    </script>
{% endblock %}
