{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load recurse %}
{% load get_type %}
{% load bootstrap4 %}
{% block head %}
    <script src="{% static 'payment_utils.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    {% bootstrap_messages %}
    <div class="main">
        <div class="content col-md-12">
            <div class="payment-overview-step row">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <a href="{% url 'shop:shopping_cart' %}" type="button"
                               class="btn btn-outline-success btn-circle"><i
                                    class="fa fa-shopping-cart"></i></a>
                            <p><small>{% trans 'Shoppingcart' %}</small></p>
                        </div>
                        <div class="stepwizard-step">
                            <form action="{% url 'shop:delivery_order' order_items.order_hash %}" method="get">
                                <a onclick="$(this).parent().submit()" type="button"
                                   class="btn btn-outline-success btn-circle"><i
                                        class="fas fa-truck"></i></a>
                                <p><small>{% trans "Delivery" %}</small></p>
                            </form>
                        </div>
                        <div class="stepwizard-step">
                            <form action="{{ request.META.HTTP_REFERER }}" method="post">
                                {% csrf_token %}
                                <a onclick="$(this).parent().submit()" class="btn btn-outline-success btn-circle"><i
                                        class="fas fa-credit-card"></i> </a>
                                <p><small>{% trans "Payment" %}</small></p>
                            </form>
                        </div>
                        <div class="stepwizard-step">
                            <a href="" type="button" class="btn btn-success btn-circle"><i
                                    class="fas fa-check-square "></i></a>
                            <p><small>{% trans "Overview" %}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row payment">
                <div class="col-12">
                    <h4>{% trans 'Order overview' %}</h4>
                    <p>{% trans "Please check whether the information you've entered are correct." %}</p>
                </div>

                <div class="col-md-12">
                    <h4 style="font-weight: bold">{% trans 'Your order' %}</h4>
                    <div class="col-md-12">
                        <table id="cart" class="table table-hover table-striped table-responsive-sm">
                            <thead>
                            <tr>
                                <th style="width:50%">{% trans 'Product' %}</th>
                                <th style="width:10%">{% trans 'Price' %}</th>

                                <th style="width:22%" class="text-center">{% trans 'Subtotal' %}</th>
                                <th style="width:10%"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for order in order_items %}
                                <tr>
                                    <td data-th="Product">
                                        <input type="hidden" name="[{{ order.id }}][prod]{{ order.product.id }}">

                                        <div class="row">
                                            <div class="col-sm-2 hidden-xs">
                                                {% if order.product.product.product_picture %}
                                                    <img
                                                            src="{{ order.product.product.product_picture.url }}"
                                                            alt="..."
                                                            class="img-fluid img-thumbnail"/>
                                                {% else %}
                                                    <i class="fa fa-4x fa-image img-thumbnail"></i>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">{{ order.product.name }}</h4>

                                            </div>

                                        </div>
                                    </td>
                                    <td data-th="Price">{{ order.price_wt}}</td>

                                    <td id="subtotal-{{ order.id }}" data-th="Subtotal"
                                        class="text-center">{{ order.total_wt }} &euro;
                                    </td>
                                    <td class="actions" data-th="">
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 style="font-weight: bold">{% trans 'Your payment' %}</h4>
                    <div class="col-md-12">
                        <table id="cart" class="table table-hover table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th style="width:50%">{% trans 'Payment Method' %}</th>
                                <th style="width:10%"></th>

                                <th style="width:22%" class="text-center">{% trans 'Total' %}</th>
                                <th style="width:10%"></th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td style="width:50%">{{ payment_details.method.name }}</td>
                                <td style="width:10%"></td>

                                <td style="width:22%" class="text-center">{{ order_items.first.order_detail.total_wt }}</td>
                                <td style="width:10%"></td>

                            </tr>
                            <tr>
                                <td style="width:50%"></td>
                                <td style="width:10%"></td>

                                <td style="width:22%" class="text-center"></td>
                                <td style="width:10%"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 style="font-weight: bold">{% trans 'Your shipment details' %}</h4>
                    <div class="col-md-12">
                        <table id="cart" class="table table-hover table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th style="width:50%">{% trans 'Address' %}</th>
                                <th style="width:10%"></th>

                                <th style="width:22%" class="text-center"></th>
                                <th style="width:10%"></th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td style="width:50%">{{ contact.title }} {{ contact.first_name }} {{ contact.last_name }}</td>
                                <td style="width:10%"></td>

                                <td style="width:22%" class="text-center"></td>
                                <td style="width:10%"></td>

                            </tr>
                            <tr>
                                <td style="width:50%">
                                    <p>{{ shipment.street }} {{ shipment.number }}</p>
                                    <p>{{ shipment.zipcode }} {{ shipment.city }}</p>
                                </td>
                                <td style="width:10%"></td>

                                <td style="width:22%" class="text-center"></td>
                                <td style="width:10%"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <table id="cart" class="table table-hover table-striped table-responsive-md">
                <thead>
                <tr>
                    <th style="width:50%"></th>
                    <th style="width:10%"></th>

                    <th style="width:22%" class="text-center">{% trans 'Total' %}</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr class="visible-xs">
                    <td class="text-center">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td colspan="1" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>
                        <span style="font-size: larger;font-family: Arial" id="total">{{ order_items.first.order_detail.total_wt }} &euro;</span>
                    </strong></td>
                    <td>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col">
                    <form action="{{ request.META.HTTP_REFERER }}" method="post">
                        {% csrf_token %}
                        <a onclick="$(this).parent().submit()" class="btn btn-warning"><i
                                class="fa fa-angle-left"></i> {% trans 'Back to select payment' %}</a>
                    </form>
                </div>
                <div class="col">
                    <form action="submit/" method="post">
                        {% csrf_token %}
                        <a onclick="$(this).parent().submit()"
                           class="btn btn-success float-right">{% trans 'Submit order' %} <i
                                class="fa fa-angle-right"></i></a>
                    </form>
                </div>

            </div>
            <form id="next-step-form" action="confirm/" method="post">
                {% csrf_token %}
                <input id="next-step-token" type="hidden" name="token" value="{{ order_details.order_hash }}">
            </form>
        </div>

    </div>

{% endblock %}
