{% extends 'cms/base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load bootstrap5 %}
{% load i18n %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script type='text/javascript'>
        var csrfmiddlewaretoken = '{{ csrf_token }}';
    </script>
    <title>{% trans "accounting" %}</title>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>{% trans 'Dashboard' %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">

                    <hr>
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>
            </div>
        </div>
        <div id="accounting" class="col-sm-12 col-md-9 mt-2 mt-md-0">

            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body p-3">
                            <div class="text-uppercase"><span>{% trans 'Amount' %}</span>
                                <spanv
                                        class="float-end"><i class="fas fa-coins fa-2x"></i>
                                </spanv>
                            </div>
                            <div class="mt-md-2">

                                <span class="me-2">{% trans 'Gross' %}</span>
                                <span class="text-bold badge rounded-pill bg-primary">{{ total_gross }} €</span><br>
                                <span class="me-2">{% trans 'Net' %}</span>
                                <span class="mt-2 text-bold badge rounded-pill bg-secondary">{{ total_net }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body p-3">
                            <div class="text-uppercase"><span>{% trans 'Orders' %}</span>
                                <span class="float-end"><i class="fas fa-shopping-basket fa-2x"></i>
                            </span>
                            </div>
                            <div class="mt-md-2">
                                <a href="{% url "management_orders_overview" %}?state={{ open_order_state_id }}&contact=">
                                    <span class="me-2">{% trans 'Outstanding' %}</span>
                                    <span class="text-bold badge rounded-pill bg-primary">{{ counted_open_orders }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body p-3">
                            <div class="text-uppercase text-break"><span>{% trans 'Shipments' %}</span>
                                <span class="float-end"><i class="fas fa-shipping-fast fa-2x"></i></span>
                            </div>
                            <div class="mt-md-2">
                                <span class="me-2">{% trans 'Outstanding' %}</span>
                                <span class="text-bold badge rounded-pill bg-danger">{{ counted_open_shipments }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body p-3">
                            <div class="text-uppercase"><span>{% trans 'Payments' %}</span>
                                <span class="float-end"><i class="fas fa-hand-holding-usd fa-2x"></i></span>
                            </div>
                            <div class="mt-md-2">
                                <span class="me-2">{% trans 'Outstanding' %}</span>
                                <span class="text-bold badge rounded-pill bg-danger">{{ counted_open_payments }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="chartApp" class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="amountPerMonthChart"></canvas>
                            </div>
                            <div class="chart-container">
                                <canvas id="ordersPerMonthChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3 mt-md-0">
                    <div class="card">
                        <div class="card-header">{% trans 'Stock' %}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for product in stock %}
                                    <li class="list-group-item
                                          {% if product.stock < 5 %}
                                          list-group-item-warning
                                          {% endif %}
                                          {% if product.stock < 1 %}
                                          list-group-item-danger
                                          {% endif %}
                                    ">
                                        <span>{{ product.name }}</span>
                                        <span class="float-end text-bold badge rounded-pill bg-danger">{{ product.stock }}</span>
                                    </li>
                                {% endfor %}

                            </ul>
                            <div class="pt-3 pagination text-xs-center justify-content-center"
                                 style="align-content: center; text-align: center">
                                {% bootstrap_pagination stock parameter_name="stock-page" pages_to_show="5" %}
                            </div>
                        </div>
                        <div class="card-footer">
                            {% trans 'Red: Stock is empty' %}<br/>
                            {% trans 'Orange: Stock is under 5 items' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div>{% trans "Last Orders" %}</div>
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <form action="" method="get">
                                        <div class="row">
                                            {% bootstrap_form filter.form exclude='date_added' form_group_class='col-6' %}
                                        </div>
                                        <div class="form-group has-success ">
                                            <div class="row">
                                                <div class="col-6"><label
                                                        for="startdate">{% trans "Startdate" %}</label></div>
                                                <div class="col-6"><label for="enddate">{% trans "Enddate" %}</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div id="startdate" class="col-6"><input
                                                        type="date" name="date_added_after"
                                                        class="form-control has-success"
                                                        value="{{ filter.form.data.date_added_after }}"
                                                        placeholder="Date (Between)" title="" id="id_date_added_0">
                                                </div>
                                                <div id="enddate" class="col-6"><input type="date"
                                                                                       name="date_added_before"
                                                                                       class="form-control has-success"
                                                                                       value="{{ filter.form.data.date_added_before }}"
                                                                                       placeholder="Date (Between)"
                                                                                       title="" id="id_date_added_1">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button class="btn btn-primary"
                                                        type="submit">{% trans 'Go' %}</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <form class="mb-1" action="{% url 'accounting:export_csv' %}" method="get">
                                        <div class="hidden">

                                            {% bootstrap_form filter.form %}
                                        </div>
                                        <button class="btn btn-primary btn-fw"
                                                type="submit">{% trans 'Export' %}</button>
                                    </form>
                                    <form class="mb-1" action="{% url 'accounting:export' %}" method="get">
                                        <div class="hidden">

                                            {% bootstrap_form filter.form %}
                                        </div>
                                        <button class="btn btn-secondary btn-fw"
                                                type="submit">{% trans 'Export (incl. Invoice)' %}</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                {% for order in filter.qs %}
                                    <a href="{% url 'management_order_detail_view' order.order.order_hash %}"
                                       class="list-group-item list-group-item-action ">
                                        <div class="row">
                                            <div class="col-4 font-weight-bold overflow-auto">{% trans 'Ordernr' %}</div>
                                            <div class="col-4 font-weight-bold overflow-auto">{% trans 'Orderdate' %}</div>
                                            <div class="col-4 font-weight-bold overflow-auto">{% trans 'Billdate' %}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">{{ order.unique_nr }}</div>
                                            <div class="col-4">{{ order.date_added }}</div>
                                            <div class="col-4">{{ order.date_bill }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="progress">
                                                    <div class="progress-bar
                                        {% if order.state.initial %}
                                        bg-danger" aria-valuenow="20" style="width:20%"
                                                    {% endif %}{% if order.state.is_paid_state %}
                                                         bg-warning" aria-valuenow="50" style="width:50%"
                                                    {% endif %}{% if order.state.is_sent_state %}
                                                        bg-success" aria-valuenow="100" style="width:100%"
                                                    {% elif order.state.next_state %}
                                                        bg-warning" aria-valuenow="50" style="width:50%"
                                                    {% else %}
                                                        bg-warning" aria-valuenow="100" style="width:100%"
                                                        role="progressbar"
                                                        aria-valuemin="0" aria-valuemax="100"
                                                    {% endif %}
                                                    >
                                                    {{ order.state.name }}
                                                    {% if not order.state %}
                                                        {% trans 'Shoppingcart' %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            {{ order.total }} €
                                        </div>
                                    </div>
                                    </a>

                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#chartApp',
            data: {
                ordersPerMonth: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                csrfmiddlewaretoken: csrfmiddlewaretoken,
            },
            mounted() {
                axios.all([this.loadData()])
            },
            methods: {
                getYearForOrdersPerMonthChart: function () {
                    return '2021'
                },
                loadData: function () {
                    return axios.get(`/api/v1/orderdetails/?orderYear=${this.getYearForOrdersPerMonthChart()}`)
                        .then(response => {
                            response.data.forEach(entry => {

                                this.ordersPerMonth[entry.date_bill__month - 1] = entry.counted_orders
                            })
                            ordersPerMonthChart.update();
                        });
                },
            }
        });

        const amountPerMonthChartElement = document.getElementById('amountPerMonthChart');
        const amountPerMonthChart = new Chart(amountPerMonthChartElement, {
            type: 'bar',
            data: {
                labels: ["{% trans 'January' %}", "{% trans 'February' %}", "{% trans 'March' %}"
                    , "{% trans 'April' %}", "{% trans 'May' %}", "{% trans 'June' %}"
                    , "{% trans 'July' %}", "{% trans 'August' %}", "{% trans 'September' %}"
                    , "{% trans 'October' %}", "{% trans 'November' %}", "{% trans 'December' %}"],
                datasets: [{
                    label: "{% trans 'Amount per Month' %}",
                    data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
                    borderWidth: 1,
                    backgroundColor: 'rgb(255, 238, 186)'
                }]
            },
            options: {}
        });
        const ordersPerMonthChartElement = document.getElementById('ordersPerMonthChart');
        const ordersPerMonthChart = new Chart(ordersPerMonthChartElement, {
            type: 'bar',
            data: {
                labels: ["{% trans 'January' %}", "{% trans 'February' %}", "{% trans 'March' %}"
                    , "{% trans 'April' %}", "{% trans 'May' %}", "{% trans 'June' %}"
                    , "{% trans 'July' %}", "{% trans 'August' %}", "{% trans 'September' %}"
                    , "{% trans 'October' %}", "{% trans 'November' %}", "{% trans 'December' %}"],
                datasets: [{
                    label: "{% trans 'Orders per Month' %}",
                    data: app.ordersPerMonth,
                    borderWidth: 1,
                    backgroundColor: 'rgb(255, 238, 186)'
                }],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        });

    </script>
{% endblock %}
#
