{% load static %}
{% load recurse %}
{% load i18n %}
{% load bootstrap4 %}
{% load get_type %}
<div class="m-3 d-flex align-content-start flex-wrap">

    <form id="attributeForm" class="mt-2 mb-2" method="get" action="">
        {% for field in attribute_form %}
            {{ field.as_hidden }}
        {% endfor %}
    </form>

    {% for attribute_category in types %}
        {% with attribute_form.data|get_var:attribute_category.name as selected %}

            {% if selected %}
                <div class="flex-item dropdown" style="border: 2px solid black;">
                <button class="btn btn-secondary-outline dropdown-toggle font-weight-bold" type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ attribute_category.name }}

                {% with selected|countchars:'.' as selected_items %}
                    ({{ selected_items|add:1 }})
                {% endwith %}
            {% else %}
                <div class="flex-item dropdown">
                <button class="btn btn-secondary-outline dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ attribute_category.name }}
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for instance in type_instances %}
                {% if instance in attribute_category.productattributetypeinstance_set.all %}

                    {% if instance.value in selected %}
                        <button type="button" class="dropdown-item font-weight-bold" href="#" class="link"
                                onclick="clearAttributeParam('{{ attribute_category.name }}','{{ instance.value }}')">
                        {{ instance.value }}
                        {% if not selected %}
                            ({{ instance.count }})
                        {% endif %}
                        <i class="fa fa-check position-absolute mr-2 mt-1" style="right: 0"></i>
                    {% else %}
                        <button type="button" class="dropdown-item" href="#" class="link"
                                onclick="setAttributeParam('{{ attribute_category.name }}','{{ instance.value }}')">
                        {{ instance.value }}
                        {% if not selected %}
                            ({{ instance.count }})
                        {% endif %}
                    {% endif %}

                </button>
                {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endwith %}
    {% endfor %}


    </div>
</div>
