{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load recurse %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'utils.js' %}"></script>
    <title>{{ product.name }}</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="row">
                <div class="col-md-9 path">
                    <a href="/cms/home">
                        Home
                    </a>
                    >
                    <a href="/shop/products/">
                        Products
                    </a>
                    >
                    <a href="/shop/products/{{ product.category }}">
                        {{ product.category }}
                    </a>
                    >
                    <a href="/cms/product/{{ product.name }}">
                        {{ product.name }}
                    </a>


                </div>
                <div class="col-md-3 categories">
                    <div class="categories-list">


                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                                class="glyphicon glyphicon-folder-close">
                    </span>{% trans 'Categories' %}</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <ul class="list-group">


                                        {% recurse category.child_categories.all with categories as category %}

                                            {% loop %}
                                                <li class="list-group-item" id="v_hm">
                                                    <div class="heading">
                                                        <div class="arrowImage"></div>
                                                        <a class="link"
                                                           href="/shop/products/{{ category.name }}">{{ category.name }}</a>
                                                    </div>

                                                    <ul class="list-group sub">{% child %}</ul>

                                                </li>

                                            {% endloop %}
                                        {% endrecurse %}


                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 products">

                    <div class="row product">
                        <div class="col-md-12 content">
                            <div class="col-md-12 product-heading">
                                <h3>{{ product.name }}</h3>
                            </div>

                            <div style="max-height: 400px;" class="col-md-4 content-img">
                                {% if product.product_picture %}
                                    <a class="thumbnail fancybox" rel="ligthbox" href="/media/{{ product.product_picture.url }}">
                                    <img
                                            src="/media/{{ product.product_picture.url }}"
                                            alt="..."
                                            class="img-responsive"/>
                                {% endif %}

                                    <div class='text-right'>
                                        <small class='text-muted'>{{ product.name }}</small>
                                    </div>
                                    <!-- text-right / end -->
                                </a>

                            </div>

                            <div class="col-md-8 product-detail-box">
                                <p>
                                    {{ product.category.name }}
                                </p>

                                <p>
                                    {{ product.description }}
                                </p>

                                <p class="price">
                                    {{ product.price|floatformat:2 }} &euro;
                                </p>
                                <br>
                                <form id="add-cart-form">
                                    {% csrf_token %}
                                <button type="button" data-toggle="dropdown" data-target="#shopping-cart" onclick="addToCart('{{ product.name }}')" class="btn btn-secondary btn-md">{% trans 'Add to cart' %}</button>
                                </form>
                            </div>
                            <div class="col-md-12 product-details">
                                <div class="panel with-nav-tabs panel-default">
                                    <div class="panel-heading" style="padding: 5px 5px 0 5px;">
                                        <ul class="nav nav-tabs" style="border-bottom: 0px">
                                            <li class="active"><a data-toggle="tab" href="#home">Product Description</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#menu1">Details</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content panel-body">
                                        <div id="home" class="tab-pane fade in active">
                                            <h3>Product Description</h3>

                                            <p>{{ product.description }}</p>
                                        </div>
                                        <div id="menu1" class="tab-pane fade">
                                            <h3>Details</h3>

                                            <p>{{ product.details }}</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script>

        //FANCYBOX
        //https://github.com/fancyapps/fancyBox
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

    </script>
{% endblock %}