{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load recurse %}
{% load fb_versions %}
{% load bootstrap5 %}

{% block head %}
    <title> {{ product.name }} - {{ product.category }} - {{ title }}</title>
    <link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}"/>
    <script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>
{% endblock %}

{% block body %}

    {% include 'modals/price_on_request.html' with product=product %}
    <div class="row">
        <div class="col-md-12 path">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb rounded-0">
                    <li class="breadcrumb-item"><a href="{% url 'shop:products' %}">
                        {% trans 'Products' %}
                    </a></li>
                    {% if product.category.mother_category %}
                    <li class="breadcrumb-item"><a href="{% url 'shop:products' product.category.mother_category.path %}">
                        {{ product.category.mother_category }}
                    </a></li>
                    {% endif %}
                    <li class="breadcrumb-item"><a href="{% url 'shop:products' product.category.path %}">
                        {{ product.category }}
                    </a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a
                            href="{% url 'shop:product_detail' product.category.path product.name %}">
                        {{ product.name }}
                    </a></li>
                </ol>
            </nav>

        </div>
        <div class="col-md-4">
            {% if product.productimage_set.first %}
                <div id="product" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">

                        {% for image in product.productimage_set.all %}
                            {% if forloop.first %}
                                <li data-bs-target="#image-{{ forloop.counter }}"
                                    data-bs-slide-to="{{ forloop.counter }}"
                                    class="active"></li>
                            {% else %}
                                <li data-bs-target="#image-{{ forloop.counter }}"
                                    data-bs-slide-to="{{ forloop.counter }}"></li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner text-center">

                        {% for image in product.productimage_set.all %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                                    <a data-fancybox rel="lightbox"
                                                                         href="{{ image.product_picture.url }}">
                                    <img class="img-fluid"  style="object-fit: cover;height: 25vh;" src="{% version image.product_picture 'large' %}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a data-fancybox rel="lightbox"
                                       href="{{ image.product_picture.url }}">
                                        <img class="img-fluid"  style="object-fit: cover;height: 25vh;" src="{% version image.product_picture 'medium' %}"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#product" data-bs-slide="prev">
                        <span><i class="text-black-50 fas fa-chevron-left"></i></span>
                    </a>
                    <a class="carousel-control-next" href="#product" data-bs-slide="next">
                        <span><i class="text-black-50 fas fa-chevron-right"></i></span>
                    </a>
                </div>

            {% else %}
                <i style=" width: 100%; height: auto; max-width: 25vw;"
                   class="fa fa-4x fa-image img-thumbnail"></i>
            {% endif %}
        </div>
        <div class=" col-md-8">
            <div class="card">

                <div class="product">
                    <div class="card-body">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="row no-gutters">

                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="card-text">
                                    <p>
                                        {{ product.category.name }}
                                    </p>
                                    <p class="price">
                                        {% if product.price_on_request %}
                                            <span data-bs-toggle="modal" data-bs-target="#price_on_request"
                                                  class="badge rounded-pill bg-success bg-primary badge-price-on-request">{% trans 'Price on request' %}
                                                        </span>
                                        {% elif product.special_price %}
                                            <span style="text-decoration: line-through">{{ product.price_wt | floatformat:2 }} &euro;</span>
                                            <strong style="color: red">{{ product.special_price_wt | floatformat:2 }}
                                                &euro;</strong>
                                        {% else %}
                                            <span>{{ product.price_wt | floatformat:2 }} &euro;</span>
                                        {% endif %}
                                        {% if not product.price_on_request %}
                                            <br><p></p><small>({% trans 'incl. Tax' %})</small>{% endif %}
                                        <div class="pt-2">

                                        {% if product.discount_set.count > 0 %}
                                            {% with product.discount_set.last as voucher %}

                                                {% if voucher.show_in_products %}
                                                <strong style="color: #da5200"
                                                        class="font-weight-bold">
                                                    </span><i class="fas fa-s fa-exclamation-circle"></i>
                                                    {% if voucher.percentagediscount %}
                                                        {% blocktranslate with percent=voucher.percentagediscount.discount_percentage_in_percent id=voucher.voucher_id %}Save up to {{ percent }} % with: {{ id }}{% endblocktranslate %}
                                                    {% else %}
                                                        {% blocktranslate with amount=voucher.fixedamountdiscount.amount id=voucher.voucher_id %}Save up to {{ amount }} € with: {{ id }}{% endblocktranslate %}
                                                    {% endif %}
                                                    &euro;</strong><br>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                        </div>

                                    </p>
                                    {% if product.stock <= 4 and product.stock > 0 %}
                                        <p class="stock-alarm">{% trans 'We only have a few items left!' %}</p>
                                    {% endif %}
                                    <br>
                                    <form id="add-cart-form">
                                        {% csrf_token %}
                                        {% if product.price_on_request %}
                                            <a type="button"
                                               class="btn btn-secondary btn-md" href="{% url 'shop:individual_offer' product.name %}">{% trans 'Request offer' %}</a>
                                        {% elif product.stock > 0 or product.stock == -1 %}
                                            <button type="button" onclick="addToCart('{{ product.name }}')"
                                                    class="btn btn-secondary btn-md">{% trans 'Add to cart' %}</button>
                                        {% else %}
                                            <button disabled class="btn btn-outline-dark">{% trans 'Not in stock' %}</button>
                                        {% endif %}
                                    </form>
                                    <p>
                                        {{ product.description|safe }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 mt-md-3">
            <div class="mb-5">
                <ul class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center"
                    role="tablist">
                    <li class="nav-item  flex-sm-fill">
                        <a class="active nav-link text-uppercase font-weight-bold rounded-0"
                           data-bs-toggle="tab"
                           href="#description">{% trans 'Product Description' %}</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a class="nav-link text-uppercase font-weight-bold rounded-0"
                           data-bs-toggle="tab"
                           href="#details">{% trans 'Details' %}</a></li>
                    <li class="nav-item flex-sm-fill">
                        <a class="nav-link text-uppercase font-weight-bold rounded-0"
                           data-bs-toggle="tab"
                           href="#technical-details">{% trans 'Technical Details' %}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" role="tabpanel"
                         class="tab-pane fade px-4 pt-5 show active">
                        <p>{{ product.description|safe}}</p>
                    </div>
                    <div id="details" role="tabpanel" class="tab-pane fade px-4 pt-5">
                        <p>{{ product.details|safe }}</p>
                    </div>
                    <div id="technical-details" role="tabpanel" class="tab-pane fade px-4 pt-5">
                        {% regroup product.attributes.all by type as attributes_grouped %}
                        {% for attribute in attributes_grouped %}
                            <div class="row">
                                <div class="col-md-3">
                                    <b> {{ attribute.grouper.name }}:</b>
                                </div>
                                <div class="col-md-2">
                                    {% for attribute_item in attribute.list %}
                                        {{ attribute_item.value }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12 p-2 products">
            <h4>{% trans 'Customers who bought this, also bought' %}:</h4>
            {% include 'product/product-carousel.html' with product_list=product.get_also_bought_products name="also-bought" %}
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12 p-2 products">
            <h4>{% trans "Similar products" %}:</h4>
            {% include 'product/product-carousel.html' with product_list=product.get_related_products name="related-products" %}
        </div>
    </div>

    </div>


{% endblock %}

{% block renderblocking %}
<script src="{% static 'utils.js' %}"></script>

<script src="{% static 'jquery/js/jquery.fancybox.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'jquery/css/jquery.fancybox.min.css' %}"
          media="screen">
{% endblock %}
