{% extends 'base.html' %}
{% load staticfiles %}
{% load recurse %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap4 %}
{% load i18n %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <div class="row">
                <div class="col-md-12 path">
                    <a href="/cms/home">
                        Home
                    </a>
                    >
                    <a href="/shop/products/">
                        Products
                    </a>
                    {% if selected_category %}
                        >
                    {% endif %}
                    <a href="/shop/products/{{ selected_category }}">
                        {{ selected_category }}
                    </a>
                </div>
                <div class="col-md-3 categories">
                    <div class="categories-list">
                        <div class="panel-group" id="accordion">
                            <div class="card panel panel-default margin-none">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="glyphicon glyphicon-folder-close">
                                                </span>{% trans 'Categories' %}</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse show">
                                    <ul class="list-group">
                                        {% recurse category.child_categories.all with categories as category %}

                                            {% loop %}
                                                <li class="list-group-item" id="v_hm">
                                                    <div class="heading">
                                                        <div class="arrowImage"></div>
                                                        <a class="link"
                                                           href="/shop/products/{{ category.name }}">{{ category.name }}</a>
                                                    </div>
                                                    <ul class="list-group sub">{% child %}</ul>

                                                </li>

                                            {% endloop %}
                                        {% endrecurse %}


                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 products">
                    <div class="products-img">
                        <div class="col-12">
                            <img src="http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg">
                        </div>
                    </div>
                    <div class="col-12 products-list">
                        <div class="row col-12">
                            <h3>{% trans 'Products' %}</h3>
                        </div>
                        <div class="row col-12">
                            {% for product in products %}
                                <div class="col-md-6 item">
                                    <div class="heading item">
                                            <div class="col-md-9">
                                                <h4><a href="/shop/product/{{ product.name }}">{{ product.name }}</a>
                                                </h4>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>{{ product.price }} &euro;</h4>
                                            </div>
                                    </div>
                                    <div class="product">
                                        <div class="content">
                                            <div class="content-img">
                                                <a href="/shop/product/{{ product.name }}">
                                                    {% if product.product_picture %}
                                                        <img
                                                                src="/media/{{ product.product_picture.url }}"
                                                                alt=""/>
                                                    {% else %}
                                                        <i class="fa fa-image img-thumbnail"></i>
                                                    {% endif %}

                                                </a>
                                            </div>
                                            <div class="price-details">
                                                <div class="price-number">
                                                </div>
                                                <div class="add-cart">
                                                    <h5><a href="/shop/product/{{ product.name }}">More Info</a></h5>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}