{% extends 'base.html' %}
{% load static %}
{% load recurse %}
{% load i18n %}
{% load bootstrap4 %}
{% load fb_versions %}
{% load get_type %}

{% block head %}
    <title>{% trans 'Products' %} {% if selected_category %} - {{ selected_category }}{% endif %} - {{ title }}</title>
{% endblock %}

{% block body %}

    {%  if request|ismobile %}
    <div class="modal fade modal-fullscreen" id="filterModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="height: 100%; max-width: none; width: 100vw; margin:0" role="document">
            <div class="modal-content" style="height: 100%;">


                <div class="modal-body">
                    <span><a href="#"  data-dismiss="modal"> <i
                            class="fa fa-arrow-left" style="font-size: 1.4rem"></i> Filter</a></span><br>
                    {% include 'attributes_filter_mobile.html'  with cssclass="no-bg" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'modals/price_on_request.html' %}
    {% bootstrap_messages %}
    <div class="row products">

        <div class="col-md-12 path">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb rounded-0">
                    <li class="breadcrumb-item {% if not selected_category %} active{% endif %}"
                        aria-current="{% if not selected_category %} page{% endif %}"><a
                            href="{% url 'shop:products' %}">
                        {% trans 'Products' %}
                    </a></li>
                    {% if selected_category.mother_category %}
                        <li class="breadcrumb-item"><a href="{% url 'shop:products' selected_category.mother_category.path %}">
                            {{ selected_category.mother_category }}
                        </a></li>
                    {% endif %}
                    {% if selected_category %}
                        <li class="breadcrumb-item {% if selected_category %} active{% endif %} " aria-current="page"><a
                                href="{% url 'shop:products' selected_category.path%}">
                            {{ selected_category }}
                        </a>
                        </li>
                    {% endif %}

                </ol>
            </nav>

        </div>
        <div class="col-md-3 categories ">

            {%  if not request|ismobile %}
            <div class="position-sticky">
                <div class="categories-list d-none d-sm-block" id="accordionCategories">
                    <div class="card border-0">
                        <div class="pt-3 pl-3" data-toggle="collapse" data-target="#collapseCategories"
                             aria-expanded="true" aria-controls="collapseCategories"  style="cursor: pointer">
                            <h4>
                                {% trans 'Categories' %}
                            </h4>
                        </div>
                        <div id="collapseCategories" class="panel-collapse show">
                            <ul class="list-group">
                                {% include 'category-tree.html' %}
                            </ul>
                        </div>
                    </div>
                </div>
                {%  else %}
                <div class="d-block d-sm-none ">
                    {% if selected_category %}<span><a href="{% url 'shop:products' selected_category.mother_category.path %}"> <i
                            class="fa fa-arrow-left" style="font-size: 1.4rem"></i></a></span><br>{% endif %}
                    <div class="scrolling-wrapper-flexbox">
                        {% if not selected_category %}
                            {% for category in categories %}
                                <div class="card m-2">
                                    <div class="card-header border-0"><a
                                            href="{% url 'shop:products' category.path %}"> {{ category }}</a></div>
                                </div>
                            {% endfor %}
                        {% else %}

                            {% for category in selected_category.productcategory_set.all %}
                                <div class="card m-2 ">
                                    <div class="card-header border-0"><a class="text"
                                            href="{% url 'shop:products' category.path %}"> {{ category }}</a></div>
                                </div>
                            {% endfor %} {% endif %}</div>
                </div>
            {% endif %}

            </div>
        </div>

        <div class="col-md-9 products">
            {% if sections %}
                {% for section in sections %}
                    <div class="col-12">
                        {{ section.content|safe }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="products-list card-deck mt-3 mt-md-0">
                <div class="row w-100">
                    <div class="col-10 pl-4">
                        <h1>{% if selected_category %} {{ selected_category }}{% else %}{% trans 'Products' %}{% endif %}</h1>
                    </div>
                    <div class="col-2">
                        <div class="attributes  d-block d-sm-none categories-list">
                            <span data-toggle="modal" data-target="#filterModal">
                                Filter
                            </span>
                        </div>
                    </div>

                </div>

                {% if not request|ismobile %}
                <div class=" d-none d-sm-block">
                    {% include 'attributes_filter_desktop.html' %}
                </div>
                {% endif %}
                <p class="pl-3">{{ products.paginator.count }} {% trans 'items' %}</p>
                <div class="row w-100" style="margin: 0px">
                    {% if not products %}
                        {% trans 'Sorry, we are out of stock in this category!' %}
                    {% endif %}
                    {% for product in products %}

                        <div class="product-card col-xl-4 col-6 p-2">
                            {% include 'product/product-card.html' with product=product %}
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination text-xs-center justify-content-center pt-2"
                     style="align-content: center; text-align: center">
                    {% bootstrap_pagination products pages_to_show=7 extra=request.GET.urlencode %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}
{% block renderblocking %}


{% endblock %}