{% extends 'mail/base.html' %}
{% load i18n %}

{% block body %}
    {% url 'shop:detail_order' order.order_hash as overview %}

    <p style="font-size:17px;color:#434144;"></p>

    <p style="font-size:14px;color:#434144;">
    <h5>{% trans 'Invoice for your Order' %} {{order.unique_nr}}</h5>

    {% trans 'Thank you for your order! Please find attached the invoice for your order. Stay up to date by following its status' %}
    <a href="http://{{ host }}{{ overview }}">{% trans 'here' %}</a> <br></p>
    <p>{% trans 'Listed below you will find an overview of your order' %}</p>
    <table style="width: 100%; padding-top: 15px">
        <thead></thead>
        <tbody>
        {% for order_item in order.orderitem_set.all %}
        <tr>
            <td>
                <img style="padding:10px; max-height: 50px" src="cid:{{ order_item.product.product.product_picture.name }}">
            </td>
            <td>{{ order_item.product.name }}</td>
            <td>
                {{ order_item.price_wt | floatformat:2 }} &euro;
           </td>
        </tr>
        {% endfor %}
        <tr><td></td><td>{% trans 'Subtotal' %}</td><td>{{ order_detail.total_wt | floatformat:2 }} &euro;</td></tr>
        <tr><td></td><td>{% trans 'Voucher' %}</td><td> -{{ order_detail.total_discount_wt | floatformat:2 }} &euro;</td></tr>
        <tr><td></td><td>{% trans 'Total' %}</td><td> {{ order_detail.total_discounted_wt | floatformat:2 }} &euro;</td></tr>
        </tbody>
    </table>

{% endblock %}