<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block body %}
    <div class="container">
        <div class=" row">
            <div class=" col-sm-12">
                <h1>{% trans 'Password reset complete' %}</h1>
                <p>{% trans 'Your new password has been set. You can log in now on the' %} <a
                        href="{% url 'login' %}">{% trans 'login page' %}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}