<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Enter new password{% endblock %}

{% block body %}

    {% bootstrap_messages %}
    <div class="container">
        <div class=" row">
            <div class=" col-sm-12">
                <h1>{% trans 'Password reset' %}</h1>
                <hr>
                <p>
                    {% trans 'Please enter the e-mail address associated with your account' %}</p>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}

                    <hr>
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Submit' %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}