{% extends 'base-mgmt.html' %}
{% load static %}
{% load bootstrap5 %}
{% load recurse %}
{% load fb_versions %}

{% load i18n %}
{% block head %}
    <title>Admin - All orders</title>
    <link href="{% static 'management.css' %}" rel="stylesheet">
    <script src="{% static 'onchange.js' %}"></script>
    <link href="{% static 'jquery/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'autocomplete.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">
    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12"><h1>{% trans 'All individual offers' %}</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-9 mt-2 mt-md-0">


            {% if not object_list %}
                <div class="card">
                    <div style="overflow: auto" class="card-header orders-overview">
                        <div style="overflow: auto" class="row">
                            {% trans 'Nothing found' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="list-group">
                {% for offer in object_list %}

                    <a href="{% url 'individualofferrequest_view' offer.id %}"
                       class="list-group-item list-group-item-action {% if offer.is_new and offer.order_set.count == 0 %}list-group-item-success {% else %}list-group-item-light {% endif %}">
                        <div class="row">
                            <div class="col-md-3" style="text-align: left; ">
                                {% if offer.contact %}
                                    {{ offer.contact.first_name }} {{ offer.contact.last_name }}
                                {% else %}
                                    {{ offer.mail }}
                                {% endif %}
                            </div>
                            <div class="col-md-4" style="text-align: left; ">
                                <img style=" width: 100%; height: auto; max-width: 2vw;"
                                     src="{% version offer.product.product_picture 'medium' %}"
                                     alt="..."
                                     class="img-fluid"/>
                                <strong> {% trans 'Product' %} {{ offer.product.name }}</strong>
                            </div>
                            <div class="col-md-3" style="text-align: left; ">
                                <strong> {% trans 'Message' %}</strong>
                                <br>
                                {{ offer.message|truncatechars:20 }}
                            </div>
                            <div class="col-md-2" style="text-align: left; ">
                                <strong> {% trans 'Date' %}</strong>
                                <br>{{ offer.date_added|date:"SHORT_DATE_FORMAT" }}
                            </div>

                        </div>
                    </a>
                    {% if offer.order_set.count > 0 %}
                        {% for order in offer.order_set.all %}

                            <a href="{% url 'management_order_detail_view' order.order_hash %}"
                               class=" list-group-item list-group-item-action">
                                <div class="ps-4 col-md-12">
                                    {% trans 'Order' %}:
                                    {{ order.orderdetail_set.first.unique_nr }}
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </div>
            <div class="pt-3 pagination text-xs-center justify-content-center"
                 style="align-content: center; text-align: center">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>
        </div>
    </div>


{% endblock %}
