
body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
}

.container {
  max-width: 1300px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1021; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay-hidden {

  display: none !important; /* Hidden by default */
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar {
  background-color: $navbar-bg;
  color: $navbar-color;
  .dropdown-menu {
    background-color: lighten($navbar-bg,5%);
    color: $navbar-color;

  }
}
.navbar a{
  color: $navbar-color;
}

.breadcrumb {

  background-color: $breadcrumb-bg !important;
  color: invert($breadcrumb-bg) !important;
  a {
    color: invert($breadcrumb-bg) !important;
  }
}

.footer {
  width: 100%;
  border-top: 1px solid #cccccc;
  margin-top: 40px;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 0;
  color: invert($footer-bg) !important;
  background-color: $footer-bg;

}
.footer .list-unstyled a {
  color: invert($footer-bg);
}

footer .box {
  width: 800px;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}


.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.card {
  color: $card-color;
}

/*
 * Card component
 */
/*.card {*/
/*    background-color: #F7F7F7;*/
/*    !* just in case there no content*!*/
/*    padding: 20px 25px 30px;*/
/*    margin: 25px auto 25px;*/
/*    !* shadows and rounded borders *!*/
/*    -moz-border-radius: 2px;*/
/*    -webkit-border-radius: 2px;*/
/*    border-radius: 2px;*/
/*    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*}*/

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  /*background-color: rgb(12, 97, 33);*/
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: rgb(12, 97, 33);
}


.product > img {
  max-width: 350px;
}

.product-rating {
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title {
  font-size: 20px;
}

.product-desc {
  font-size: 14px;
}

.product-price {
  font-size: 22px;
}

.product-stock {
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info {
  margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
  max-width: 1140px;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
}

.container-fluid {
  max-width: 1140px;
  margin: 0 auto;
}

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}


/*********************************************
				ITEM
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 160px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {

  align-content: center;
  text-align: center;
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img, .service-image-right > center > img {
  max-height: 155px;
}

@media (min-width: 1200px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

.first-row {
  background-color: #fafafa;

}

.products-img {
  overflow: hidden;
  height: 300px;
}

.products-img img {

  width: 100%;

}


.products-list .heading {
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  width: 100%;
  overflow: auto;
  text-decoration: none;
}

.products-list .item {
  padding: 5px;
}

.product .content {
  margin: 10px;
}

.product .content-img {
  overflow: hidden;
  max-height: 250px;
}

.product .content-img img {
  width: 100%;
}

.product .heading {
  padding: 10px;
}

.fancybox {

}

.product-detail-box .price {
  line-height: 36px;
  font-family: 'Lato', sans-serif;
  letter-spacing: -2px;
  font-size: 36px;
  color: #393939 !important;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.price {
  font-size: 20px;
  line-height: 15px;
  padding-bottom: 5px;
}

.categories-list {

}

.path {
  padding-top: 20px;
  padding-bottom: 20px;
}

#accordion .glyphicon {
  margin-right: 10px;
}
.text {
  color: invert($body-bg);
}

.panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
}

.panel-collapse > .list-group {
  margin-bottom: 0;
}

.panel-collapse .list-group-item {
  border-radius: 0;
}

.panel-collapse {
  .list-group-item a {
    color: $list-group-color;
  }

  a {
    color: $list-group-color;
  }
}

.panel-collapse .list-group .list-group {
  margin: 0;
  margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
  margin: 0 -15px;
  border-top: 1px solid darken($list-group-bg,10%);
  border-bottom: 0;
  padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item:last-child {
  padding-bottom: 0;
}

.panel-collapse div.list-group div.list-group {
  margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
  border-top: 1px solid darken($list-group-bg,10%);
  border-bottom: 0;
  padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
  border-top: 1px solid darken($list-group-bg,10%);
}


.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer .text {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.product-details {
  padding-top: 40px;
}

.with-nav-tabs {
  padding: 0px;
}

.product-heading {
  padding-bottom: 20px;
}

.cart-item {
  overflow: auto;
  min-height: 40px;
}

/*.table>tbody>tr>td, .table>tfoot>tr>td{*/
/*    vertical-align: middle;*/
/*}*/

@media screen and (max-width: 576px) {
  /*    table#cart tbody td .form-control{*/
  /*		width:20%;*/
  /*		display: inline !important;*/
  /*	}*/
  /*	.actions .btn{*/
  /*		width:36%;*/
  /*		margin:1.5em 0;*/
  /*	}*/
  /*	.actions .btn-info{*/
  /*		float:left;*/
  /*	}*/
  /*	.actions .btn-danger{*/
  /*		float:right;*/
  /*	}*/
  /*table#cart thead { display: none; }*/
  /*table#cart tbody td { display: block; padding: .6rem;}*/
  /*	table#cart tbody tr td:first-child { background: #333; color: #fff; }*/
  /*	table#cart tbody td:before {*/
  /*		content: attr(data-th); font-weight: bold;*/
  /*		display: inline-block; width: 8rem;*/
  /*	}*/
  /*table#cart tfoot td{display:block; }*/
  /*table#cart tfoot td .btn{display:block;}*/

}

.sub-product {
  border-left: 1px solid;
}

.sub-product .required {
  background-color: #a94442;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.order-step, .checkout-step, .overview-step, .payment-step, .payment-overview-step {
  padding: 0px 0px 40px;
}

.left-step-normal, .left-step-curr, .left-step-last, .left-step {
  padding: 0px;
}

.left-step-normal:after {
  z-index: 8;
  position: absolute;
  top: 1%;
  left: 100%;
  margin-left: -1px;
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #fafafa;
}

.left-step-curr:after {
  z-index: 8;
  position: absolute;
  top: 1%;
  left: 100%;
  margin-left: -1px;
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #54c5b4;
}

.left-step-last:after {
  z-index: 8;
  position: absolute;
  top: 1%;
  left: 100%;
  margin-left: -1px;
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #fafafa;
}

#noty-holder {
  width: 100%;
  top: 51px;
  font-weight: bold;
  z-index: 1029; /* Max Z-Index in Fixed Nav Menu is 1030*/
  text-align: center;
  position: fixed;
}


.error-row {
  background-color: #fff0f0 !important;
  color: #0f0f0f !important;
}


.panel-heading {

  color: black;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;

}


.payment .active {
  background-color: #0D3349;
  color: white;
}

.orders-overview {
  align-content: center;
  text-align: center;
}

.customers-overview {
  align-content: center;
  text-align: center;
}

.categories-overview {
  align-content: center;
  text-align: center;
}

.settings-overview {
  align-content: center;
  text-align: center;
}

.accounts-overview {
  align-content: center;
  text-align: center;
}

.payment .active label {
  font-weight: normal;

}

.btn-fw {
  margin: 5px;
  width: 100%;
}

.h-bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}


.ui-menu-item:hover {
  text-decoration: none;
  color: #000000;
  background-color: #f0f0f0;
}


.shop-header {
  line-height: 1;
  background-color: lightgray !important;
  border-bottom: 1px solid #e5e5e5;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}


.stepwizard-step p {
  margin-top: 0px;
  color: #666;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  margin-top: -2px;
  color: black !important;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 9px 0;
  font-size: 13px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.btn, .card, .form-control, .img-thumbnail {
  border-radius: 0 !important;
}

.products {
  padding-right: 0px;
  padding-left: 0px;
}

.products .attributes .list-group-item {

  border: 1px solid rgba(0, 0, 0, .125);
  border-left: none;
  border-right: none;
  padding-left: 1rem;
}

.products .attributes .attribute-label {
  text-decoration: none;
}

.products .attributes .attribute-item {
  text-decoration: none;
}

.products .card {
  border: none;
  font-size: 13px;
}

.products .card-hover:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.18);
  transform: scale(1.05);
}

.products .card-body {
  flex: 1 1 auto;
  padding: 10px;
}

.products .card-body.product-text {
  height: 70px;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  .products .card-body.product-text {
    height: 60px;
    font-size: 15px;
  }
}

.products .card-body.product-attributes {
  height: 90px;
}

.products .guarantee {
  color: #05541e;
  margin-left: 4px;
  font-weight: 700
}

.products .stock-alarm {
  color: #ff8812;
}

.products .stock-alarm:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0f3";
  padding-right: 3px;
}

.products .badge-price-on-request {
  cursor: pointer;
}

.products hr {
  margin: 0.2rem 0;
  color: #bfbebe
}

.products .product-card {
  padding-bottom: 20px;
}

.products .buttons .btn {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px
}

.products .card-img-top {
  width: 100%;
  height: 220px;
  padding: 9px;
  object-fit: cover;
}

.product .card-body {
  font-size: 16px;
}

.list-group-item-light {
  background-color: #fbfbfb;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.custom-file-input.is-invalid ~ .custom-file-label, .was-validated .custom-file-input:invalid ~ .custom-file-label {
  border-color: #dc3545 ! important;
}

#cookiebannerModalLabel {
  padding-right: 15px;
}

.cookiebannerH4 {
  padding-left: 10px;
}

.cookie-footer-links .nav-item:after {
  content: none;
  padding-right: 0px;
  padding-left: 0px;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  border: 1px solid #92b0b3;
}

.files {
  position: relative
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url('https://image.flaticon.com/icons/png/128/109/109612.png');
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.preview-overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0px;

  right: 0;
  bottom: 0;
  border: 5px solid white;
  background-color: rgba(255, 255, 255, 0.95); /* Black background with opacity */
  z-index: 1020; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}

.preview-overlay-hidden {
  display: none !important; /* Hidden by default */
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.editable-table button {
  display: none;
}

.editable-table tr:hover button {
  display: inline-block;
}

.editable-table tr.selected button {
  display: inline-block;
}

h1 {
  font-size: 1.9rem;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}

.products-horizontal .control-next {
  right: 0;
}

.products-horizontal .control-prev {
  left: 0;
}

.products-horizontal .control-next, .control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

@media (min-width: 768px) {

  /* show 3 items */
  .products-horizontal .carousel-inner .active,
  .products-horizontal .carousel-inner .active + .carousel-item,
  .products-horizontal .carousel-inner .active + .carousel-item + .carousel-item,
  .products-horizontal .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    margin-right: 0;
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

}

.nav-tabs {
  .tab-pane {
    color: $card-color;
  }
}

