{% extends 'base.html' %}
{% load staticfiles %}
{% load recurse %}

{% load i18n %}
{% block head %}
    <link href="{% static 'admin.css' %}" rel="stylesheet">
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <script src="{% static 'onchange.js' %}"></script>
    <title>Admin - All orders </title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="col-md-12">


                <div class="col-md-3 hidden-xs">
                    <h4 class="h-bold">{% trans "Administration" %}</h4>
                    <div class="panel">
                        <div style="overflow: auto" class="panel-heading">
                            <div class="col-md-12"><span>{{ contact.first_name }} {{ contact.last_name }}</span></div>
                            <div class="col-md-12"><span
                                    style="font-size: small; font-weight: bold">{{ contact.company.name }}</span></div>
                        </div>
                        <div class="panel-body">
                            <p>{% trans 'Manage orders' %}</p>
                            <a href="{% url 'admin_index' %}"
                               class="btn btn-fw btn-primary">{% trans 'Go back to Administration' %}</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 ">
                    <div class="md-12">
                        <div class="col-md-2">
                            <h4 class="h-bold">{% trans "All orders" %}</h4>
                        </div>

                        <div class="col-md-5 align-right">
                            <form method="get">
                                <div class="input-group">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Go!</button>
                                                  </span>
                                    <input name="search" type="text" class="form-control" placeholder="Search for..."
                                           value="{% if search %}{{ search }}{% endif %}">
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 hidden-lg hidden-md">
                            <p></p>
                        </div>
                        <div class="col-md-5 align-right">
                            <select class="form-control">
                                <option>
                                    All orders
                                </option>
                                <option>
                                    Open orders
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 hidden-lg hidden-md">
                    <p></p>
                </div>
                <div class="col-md-9">

                    <div class="panel-group">
                        {% for order in orders %}
                            <div class="panel">
                                <div style="overflow: auto" class="panel-heading orders-overview">
                                    <div style="overflow: auto" class="col-md-12">
                                        <div class="col-md-3 col-xs-3" style="text-align: left; ">
                                            {% trans 'Orderdate' %}
                                        </div>
                                        <div class="col-md-2 col-xs-2">
                                            {% trans 'State' %}
                                        </div>
                                        <div class="col-md-3 col-xs-3">
                                            {% trans 'Total' %}
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            Ordernr.: {{ order.order_hash }}
                                        </div>
                                    </div>
                                    <div style="overflow: auto; font-size: small" class="col-md-12">
                                        <div class="col-md-3 col-xs-3" style="text-align: left">
                                            {% for order_detail in order.orderdetail_set.all %}
                                                {{ order_detail.date_added }}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-2  col-xs-2">
                                            {% for order_detail in order.orderdetail_set.all %}
                                                {{ order_detail.state.name }}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-3  col-xs-3">
                                            {{ order.total }} €
                                        </div>
                                        <div class="col-md-4  col-xs-4">
                                            <div class="col-md-6">
                                                <a href="{% url 'detail_order' order.order_hash %}">Bestelldetails</a>

                                            </div>
                                            <div class="col-md-6">
                                                <a href="#">Rechnung</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-9">

                                        <div class="col-sm-6">
                                            <h4>{% trans 'Customer Information' %}</h4>
                                            <div class="col-sm-12">
                                                <b>{{ order.company }}</b>
                                            </div>

                                            {% for order_detail in order.orderdetail_set.all %}
                                                <div class="col-sm-12">
                                                    {{ order_detail.contact.first_name }} {{ order_detail.contact.last_name }}
                                                </div>
                                                <div class="col-sm-12">
                                                    {{ order.company.street }} {{ order.company.number }}
                                                </div>
                                                <div class="col-sm-12">
                                                    {{ order.company.zipcode }} {{ order.company.city }}
                                                </div>
                                                <div class="col-sm-12" style="margin-top: 5px">
                                                    {{ order_detail.contact.telephone }}
                                                </div>
                                                <div class="col-sm-12">
                                                    {{ order_detail.contact.email }}
                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="col-sm-6">

                                            <h4>{% trans 'Status' %}</h4>

                                            {% for order_detail in order.orderdetail_set.all %}
                                                <div class="col-sm-12">
                                                    Assigned Employee: <span
                                                        style="color: #2c7b91"><b>{{ order_detail.employee|default:"None" }}</b></span>
                                                </div>
                                                <div class="col-sm-12">
                                                    Status: <span style="color: #2c7b91"><b>{{ order_detail.state }}</b></span>
                                                </div>

                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="{% url 'detail_order_cancel_order' order.order_hash %}"
                                           class="btn btn-fw btn-success">{% trans 'Edit order' %}</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">

                                            <h4>{% trans 'Order' %}</h4>
                                            <div class="col-sm-12" style="margin-left: 15px; background-color: white">
                                                {% for order_item in order.orderitem_set.all %}
                                                    <div class="row" style="padding-top:4px; border-left: 1px solid; border-color: #0D3349">
                                                        <div class="col-sm-1 col-xs-4">
                                                            {% if  order_item.product.product.product_picture.url %}
                                                                <img
                                                                        src="/media/{{ order_item.product.product.product_picture.url }}"
                                                                        alt="..."
                                                                        class="img-responsive"/>{% endif %}</div>
                                                        <div class="col-sm-9 col-xs-8">
                                                            <h5 class="nomargin"><b>{{ order_item.product.name }}</b></h5>

                                                        </div>
                                                        <div class="col-sm-2 hidden-xs">
                                                            {{ order_item.product.price }} €
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}

                        <div class="col-md-12">

                            <ul class="pager">
                                <li class="previous ">
                                    {% if orders.has_previous %}
                                        <a class="" href="
                                        {% url 'admin_all_orders' %}{{ number_of_orders }}/{{ orders.previous_page_number }}{% if search %}/?search={{ search }}{% endif %}">previous</a>

                                    {% else %}
                                        <a class="disabled" href="">-</a>
                                    {% endif %}
                                </li>
                                <li>
                                <span class="current">
                                        Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                                    </span>
                                </li>
                                <li class="next ">
                                    {% if orders.has_next %}
                                        <a href="
                                            {% url 'admin_all_orders' %}{{ number_of_orders }}/{{ orders.next_page_number }}{% if search %}/?search={{ search }}{% endif %}">next</a>
                                    {% else %}
                                        <a class="disabled" href="">-</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 ">
                            <div class="col-md-4 "></div>
                            <div class="col-md-4">
                            <form method="get">
                            <input hidden value="{% if search %}{{ search }}{% endif %}" type="text" name="search">
                                <select class="form-control"
                                        onchange=
                                                "changeNumberOfOrders(this,'{% url 'admin_all_orders' %}{0}/{{ orders.number }}/')">
                                    <option value="1" {% if number_of_orders == '1' %}selected{% endif %}>
                                        1 Entry
                                    </option>
                                    <option value="5" {% if number_of_orders == '5' %}selected{% endif %}>
                                        5 Entries
                                    </option>
                                    <option value="20"{% if number_of_orders == '20' %}selected{% endif %}>
                                        20 Entries
                                    </option>
                                    <option value="50"{% if number_of_orders == '50' %}selected{% endif %}>
                                        50 Entries
                                    </option>
                                </select>
                            </form>
                                </div>
                                <div class="col-md-4 "></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}