{% extends 'cms/base-mgmt.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load recurse %}
{% load l10n %}

{% load i18n %}
{% block head %}
    <title>Admin - All orders</title>
    <link href="{% static 'management.css' %}" rel="stylesheet">
    <script src="{% static 'onchange.js' %}"></script>
    <link href="{% static 'jquery/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'autocomplete.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">
    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12"><h1>{% trans 'All Orders' %}</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <div class="card-title h4">{% trans 'Filter' %}</div>
                    <form action="" method="get">

                        {#                        {% bootstrap_form filter.form %}#}
                        <button class="btn btn-fw btn-primary" type="submit">{% trans 'Go' %}</button>

                    </form>
                    <hr>
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-9 mt-2 mt-md-0">


            {% if  object_list.count == 0 %}
                <div class="card">
                    <div style="overflow: auto" class="card-header orders-overview">
                        <div style="overflow: auto" class="row">
                            {% trans 'Nothing found' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for comm in tasks %}
                    <tr>
                        <th>
                        <td><a href="{% url 'management_communication_detail_view' comm.uuid %}">{{ comm.uuid }}</a>
                        </td>
                        <td>{{ comm.name }}</td>
                        <td>{{ comm.get_received_date|localize }}</td>
                        <td>{{ comm.get_started_date }}</td>
                        <td>  <span
                                class="badge badge-pill {% if comm.state == 'SUCCESS' %}badge-success{% else %}badge-error{% endif %}">{{ comm.state }}
                                                        </span></td>
                        <td></td>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            {% for arg in comm.get_args %}
                                {{ arg }},
                            {% empty %}
                                <small>{% trans 'No args' %}</small>
                            {% endfor %}
                            <br>
                            <p class="pt-2">{% trans 'Result: ' %}{{ comm.result }}</p>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <div class="pt-3 pagination text-xs-center justify-content-center"
                 style="align-content: center; text-align: center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {% if previous_page == curr_page %} disabled {% endif %} "><a
                                class="page-link"
                                href="?page={{ previous_page }}">Previous</a>
                        </li>
                        <li class="page-item  {% if next_page == curr_page %} disabled {% endif %}"><a
                                class="page-link "
                                href="?page={{ next_page }}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}
