{% extends 'base-mgmt.html' %}
{% load static %}
{% load recurse %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load i18n %}
{% bootstrap_messages %}
{% block head %}
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <title>Products</title>
    <script src="{% static 'autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery.ui.min.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">

            <div class="col-md-12">

                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Company' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in customers %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.first_name }} {{ contact.last_name}}</td>
                            <td>{{ contact.company }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

                <a class="btn btn-secondary" href="{% url 'management_index'  %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}