{% load i18n %}
<div class="row position-absolute bottom-0 alert-middle" style="z-index: 2">
    <div class="col-12">
        <div id="alert-danger" class="alert alert-danger alert-dismissible hidden">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div id="danger-text">
                {% trans 'Ups, something went wrong. Please try again later or contact an administrator.' %}
            </div>
        </div>
        <div id="alert-success" class="alert alert-success alert-dismissible hidden">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div id="success-text">
                {% trans 'Sent successfully' %}</div>
        </div>
        <div id="alert-warning" class="alert alert-warning alert-dismissible hidden">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div id="warning-text">
                {% trans 'Looks like you have missed some fields' %}
            </div>
        </div>
    </div>
</div>
