{% extends 'cms/base-mgmt.html' %}
{% load recurse %}
{% load static %}
{% load django_bootstrap5 %}

{% load i18n %}
{% block head %}
    <script src="{% static 'onchange.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <link href="{% static 'management.css' %}" rel="stylesheet">

    {{ form.media }}
    <title>{% trans 'Settings' %}</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="h-bold">{% trans "Menu" %}</h4>
                </div>
                <div class="card-body">
                    <hr>
                    <a href="{% url 'management_index' %}"
                       class="btn btn-fw btn-primary">{% trans 'Go back to management' %}</a>
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <form enctype="multipart/form-data" method="post">{% csrf_token %}

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            {% buttons %}
                                <button type="submit" value="Save" class="btn btn-primary">{% trans 'Save' %}</button>
                            {% endbuttons %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="">
                            {% block page_name %}<h2>{{ page_name }}</h2>{% endblock %}
                        </div>
                        {% block page_info %}{{ page_info }}{% endblock %}
                    </div>
                    <div class="card-body">
                        {{ form.errors }}
                        {% bootstrap_form form layout='horizontal' %}

                    </div>
                </div>
            </form>

        </div>
    </div>




{% endblock %}
